In [104]:
!pip install -e .

Obtaining file:///Users/matthewdeane/Documents/Data%20Science/python/_projects/py-tidymodels/_md
ERROR: file:///Users/matthewdeane/Documents/Data%20Science/python/_projects/py-tidymodels/_md does not appear to be a Python project: neither 'setup.py' nor 'pyproject.toml' found.

In [105]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# py-tidymodels imports
from py_workflows import workflow
from py_parsnip import linear_reg
from py_rsample import vfold_cv, initial_split, training, testing
from py_yardstick import metric_set, rmse, mae, r_squared, smape
from py_workflowsets import WorkflowSet

from py_recipes import recipe
from py_recipes.selectors import all_numeric, all_nominal, starts_with, ends_with

# Set random seed for reproducibility
np.random.seed(42)

# Import Data

In [106]:
# import raw data
raw_data = pd.read_csv('__data/preem.csv')

In [107]:
df = raw_data

# set date as index
#df = raw_data.set_index('date')

# convert date to datetime
df['date'] = pd.to_datetime(df['date'])
display(df)

,date,mean_med_diesel_crack_input1_trade_month_lag2,mean_nwe_hsfo_crack_trade_month_lag1,mean_nwe_lsfo_crack_trade_month,mean_nwe_ulsfo_crack_trade_month lag3,mean_sing_gasoline_vs_vlsfo_trade_month,mean_sing_vlsfo_crack_trade_month_lag3,new_sweet_sr_margin,target,totaltar
0,2020-04-01,-56.18,-11.43,-3.07,28.58,-16.09,26.91,0.47,137.65,0.00
1,2020-05-01,-42.36,-9.17,3.89,22.64,-8.75,20.36,0.57,113.53,0.00
2,2020-06-01,-30.21,-8.58,-3.44,13.43,-4.28,11.32,6.61,43.31,0.00
3,2020-07-01,-28.86,-6.86,-2.71,10.74,-3.20,8.53,-1.55,79.77,0.00
4,2020-08-01,-38.80,-5.86,-2.63,4.58,-5.35,6.26,-2.70,48.27,0.00
5,2020-09-01,-41.76,-5.62,-2.08,7.69,-3.26,6.15,-2.10,98.01,0.00
6,2020-10-01,-43.99,-5.10,0.16,8.09,-4.31,5.80,-3.34,49.77,0.00
7,2020-11-01,-42.94,-5.43,1.80,7.86,-7.40,6.99,-2.53,35.48,0.00
8,2020-12-01,-41.55,-3.39,0.94,6.68,-7.65,6.22,0.00,63.98,0.00
9,2021-01-01,-41.18,-6.03,0.63,8.67,-7.67,8.22,-0.05,109.76,0.00
10,2021-02-01,48.56,-6.14,2.60,9.79,-9.41,9.53,-0.55,102.98,0.00
11,2021-03-01,-53.08,-6.99,1.86,10.70,-6.70,9.55,-0.10,123.83,0.00
12,2021-04-01,58.56,-8.17,0.13,13.14,-3.81,11.13,-0.26,95.58,0.00
13,2021-05-01,-65.84,-8.77,1.79,14.62,-2.95,13.73,-1.32,127.21,0.00
14,2021-06-01,-63.63,-9.86,-3.45,14.46,-2.95,12.37,-1.42,120.18,0.00
15,2021-07-01,-66.81,-11.36,-2.46,12.82,-1.53,10.41,-1.98,88.43,0.00
16,2021-08-01,-70.76,-11.69,1.61,13.26,-0.42,9.45,-2.22,97.76,0.00
17,2021-09-01,-73.55,-10.65,-0.23,13.93,-2.96,8.69,-2.59,126.47,0.00
18,2021-10-01,-70.44,-10.19,0.07,14.03,-0.69,9.41,-1.71,116.13,28.50
19,2021-11-01,-71.76,-9.74,1.97,12.88,1.07,9.70,-0.82,127.87,0.95
20,2021-12-01,-80.45,14.93,-0.08,12.44,-4.92,10.76,-0.56,172.65,0.00
21,2022-01-01,-82.24,12.28,-1.81,11.77,-5.03,10.04,-2.66,102.65,0.00
22,2022-02-01,-73.64,-12.01,-0.91,12.46,-3.86,11.19,-0.84,80.90,0.00
23,2022-03-01,-81.20,-12.84,-1.34,13.65,-7.22,14.83,-1.33,80.75,0.00
24,2022-04-01,-90.80,-17.03,-5.03,17.36,-6.63,16.10,-3.34,118.19,0.00
25,2022-05-01,-103.29,14.56,-8.80,21.49,4.77,17.22,-1.04,117.65,0.00
26,2022-06-01,-103.75,-14.81,-12.96,27.07,-3.93,21.72,10.29,93.37,0.00
27,2022-07-01,-104.86,-22.65,-14.07,32.48,-14.25,21.67,3.72,98.66,0.00
28,2022-08-01,109.75,-30.26,-7.35,30.89,-6.94,21.26,0.66,100.28,0.00
29,2022-09-01,-98.75,-24.02,-6.99,41.20,-7.88,33.42,-9.61,30.00,285.00
30,2022-10-01,95.19,27.40,-8.81,41.84,-14.30,36.36,-5.47,36.44,117.68
31,2022-11-01,90.92,-31.99,-13.79,23.17,-9.54,16.03,0.65,123.86,28.50
32,2022-12-01,-85.20,-33.61,-15.35,19.53,-6.07,12.77,2.98,118.99,4.60
33,2023-01-01,-88.61,-28.24,15.59,14.99,1.55,14.35,-1.29,87.88,0.00
34,2023-02-01,-78.72,-25.87,-12.55,10.61,-0.48,9.29,-0.87,90.00,0.00
35,2023-03-01,-81.01,-24.92,-13.00,8.35,4.78,8.90,6.27,190.24,0.00
36,2023-04-01,-84.13,-20.67,-11.37,12.23,6.73,8.23,1.55,162.09,0.00
37,2023-05-01,-79.31,-15.28,-7.48,18.30,0.70,14.18,1.84,84.99,0.00
38,2023-06-01,-80.76,-12.16,-6.63,14.18,0.39,8.58,-5.16,70.18,0.00
39,2023-07-01,-75.81,-9.81,-4.78,12.83,1.30,8.34,-4.90,131.09,0.00
40,2023-08-01,-73.83,-6.15,2.11,8.96,4.52,8.87,-2.49,103.01,0.00
41,2023-09-01,-75.30,2.91,-2.65,11.51,4.47,11.57,-0.75,58.37,0.00
42,2023-10-01,-83.38,-4.18,-6.51,10.72,-5.16,11.28,4.19,107.65,0.00
43,2023-11-01,-87.50,-9.97,-6.92,11.89,-8.22,11.38,1.97,118.37,0.00
44,2023-12-01,-87.74,-13.84,-6.70,8.57,3.24,10.18,-4.27,113.03,0.00
45,2024-01-01,-82.67,-10.91,-5.47,9.68,-1.61,11.45,0.06,122.65,0.00
46,2024-02-01,-76.84,12.09,-7.82,13.10,0.72,16.74,2.85,129.09,0.00
47,2024-03-01,-76.22,-12.47,-6.85,15.00,-0.88,13.56,1.68,145.57,31.26
48,2024-04-01,-78.45,12.01,-8.21,13.16,2.44,11.94,1.84,158.23,57.00
49,2024-05-01,-81.85,-13.77,-8.37,18.80,-0.52,14.24,1.18,104.04,13.45
50,2024-06-01,-87.31,-10.79,-8.28,17.71,-3.48,13.96,-3.23,173.23,57.00
51,2024-07-01,-83.45,-8.52,-7.06,16.15,-3.96,10.77,-0.77,126.20,69.19
52,2024-08-01,-80.09,-8.40,-6.74,13.88,-4.09,11.33,-0.94,105.07,63.10
53,2024-09-01,-83.41,-9.26,-3.99,10.35,-10.08,9.24,-3.36,127.01,57.00
54,2024-10-01,-78.32,-10.12,-3.43,11.66,-9.63,10.63,-4.50,101.18,57.00
55,2024-11-01,-73.15,-4.51,0.58,13.14,-9.06,11.40,-3.11,123.50,51.49
56,2024-12-01,-74.09,-3.27,-0.67,12.53,-3.12,15.11,-1.27,120.14,51.31

# py-rsample

In [108]:
from py_rsample import initial_time_split, time_series_cv

In [109]:
# Create train/test split
split = initial_split(df, prop=0.75, seed=123)
train_data = training(split)
test_data = testing(split)

print(f"Training set: {train_data.shape[0]} rows")
print(f"Test set: {test_data.shape[0]} rows")

Training set: 42 rows
Test set: 15 rows

In [110]:
# Example: Train on 2020, test on first half of 2021
split_absolute = initial_time_split(
    df,
    date_column="date",
    train_start="2022-01-01",
    train_end="2023-12-01",
    test_start="2024-01-01",
    test_end="2024-06-01"
)

train_abs = split_absolute.training()
test_abs = split_absolute.testing()

print(f"Training: {len(train_abs)} days from {train_abs['date'].min()} to {train_abs['date'].max()}")
print(f"Testing:  {len(test_abs)} days from {test_abs['date'].min()} to {test_abs['date'].max()}")

# bug - thinks its days not months (monthly data)

Training: 24 days from 2022-01-01 00:00:00 to 2023-12-01 00:00:00
Testing:  6 days from 2024-01-01 00:00:00 to 2024-06-01 00:00:00

In [111]:
# Example 1: Train on first 18 months, test on last 6 months
split_relative1 = initial_time_split(
    df,
    date_column="date",
    train_start="start",
    train_end="start + 18 months",
    test_start="end - 6 months",
    test_end="end"
)

train_rel1 = split_relative1.training()
test_rel1 = split_relative1.testing()

print("Example 1: First 18 months vs last 6 months")
print(f"Training: {len(train_rel1)} days from {train_rel1['date'].min()} to {train_rel1['date'].max()}")
print(f"Testing:  {len(test_rel1)} days from {test_rel1['date'].min()} to {test_rel1['date'].max()}")
print()

# bug - thinks its days not months (monthly data)

Example 1: First 18 months vs last 6 months
Training: 18 days from 2020-04-01 00:00:00 to 2021-09-01 00:00:00
Testing:  6 days from 2024-07-01 00:00:00 to 2024-12-01 00:00:00

In [112]:
# Train on specific year (2020), test on last 3 months of available data
split_mixed = initial_time_split(
    df,
    date_column="date",
    train_start="start",
    train_end="2023-12-01",
    test_start="end - 12 months",
    test_end="end"
)

train_mix = split_mixed.training()
test_mix = split_mixed.testing()

print("Mixed: Train on 2020, test on last 90 days of data")
print(f"Training: {len(train_mix)} days from {train_mix['date'].min()} to {train_mix['date'].max()}")
print(f"Testing:  {len(test_mix)} days from {test_mix['date'].min()} to {test_mix['date'].max()}")

# bug - thinks its days not months (monthly data)

Mixed: Train on 2020, test on last 90 days of data
Training: 45 days from 2020-04-01 00:00:00 to 2023-12-01 00:00:00
Testing:  12 days from 2024-01-01 00:00:00 to 2024-12-01 00:00:00

# 1. Single Model Fitting

In [113]:
FORMULA_STR = "target ~ totaltar +mean_med_diesel_crack_input1_trade_month_lag2 + mean_nwe_hsfo_crack_trade_month_lag1"

## 1.1 - Prophet

In [114]:
# SINGLE MODEL fitting

from py_parsnip import prophet_reg, arima_reg, rand_forest, linear_reg

# Create Prophet specification
# Prophet will automatically detect weekly seasonality in our data
spec_prophet = prophet_reg(
    n_changepoints=25,  # Number of potential trend changes
    changepoint_prior_scale=0.05,  # Flexibility of trend
    seasonality_prior_scale=10.0   # Flexibility of seasonality
)

print(spec_prophet)

# # Fit Prophet - FAILING
fit_prophet = spec_prophet.fit(train_data, FORMULA_STR)
print("Prophet model fitted!")

# Evaluate and extract outputs
fit_prophet = fit_prophet.evaluate(test_data)
outputs_prophet, coefs_prophet, stats_prophet = fit_prophet.extract_outputs()

display(outputs_prophet)
display(coefs_prophet)
display(stats_prophet)

ModelSpec(model_type='prophet_reg', engine='prophet', mode='regression', args={'growth': 'linear', 'changepoint_prior_scale': 0.05, 'seasonality_prior_scale': 10.0, 'seasonality_mode': 'additive', 'n_changepoints': 25, 'changepoint_range': 0.8, 'yearly_seasonality': 'auto', 'weekly_seasonality': 'auto', 'daily_seasonality': 'auto'}, date_col=None)
Prophet model fitted!

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,112.812329,137.65,24.837671,train,prophet_reg,,global
1,2020-05-01,113.53,115.589899,113.53,-2.059899,train,prophet_reg,,global
2,2020-06-01,43.31,66.349488,43.31,-23.039488,train,prophet_reg,,global
3,2020-07-01,79.77,70.154397,79.77,9.615603,train,prophet_reg,,global
4,2020-08-01,48.27,64.104879,48.27,-15.834879,train,prophet_reg,,global
5,2020-09-01,98.01,118.531915,98.01,-20.521915,train,prophet_reg,,global
6,2020-10-01,49.77,79.545138,49.77,-29.775138,train,prophet_reg,,global
7,2020-11-01,35.48,58.856986,35.48,-23.376986,train,prophet_reg,,global
8,2020-12-01,63.98,99.834320,63.98,-35.854320,train,prophet_reg,,global
9,2021-01-01,109.76,115.407468,109.76,-5.647468,train,prophet_reg,,global
10,2021-02-01,102.98,94.923774,102.98,8.056226,train,prophet_reg,,global
11,2021-03-01,123.83,90.737684,123.83,33.092316,train,prophet_reg,,global
12,2021-04-01,95.58,109.687263,95.58,-14.107263,train,prophet_reg,,global
13,2021-05-01,127.21,112.668580,127.21,14.541420,train,prophet_reg,,global
14,2021-06-01,120.18,77.503293,120.18,42.676707,train,prophet_reg,,global
15,2021-07-01,88.43,91.137194,88.43,-2.707194,train,prophet_reg,,global
16,2021-08-01,97.76,86.043911,97.76,11.716089,train,prophet_reg,,global
17,2021-09-01,126.47,101.787130,126.47,24.682870,train,prophet_reg,,global
18,2021-10-01,116.13,78.000448,116.13,38.129552,train,prophet_reg,,global
19,2021-11-01,127.87,106.673013,127.87,21.196987,train,prophet_reg,,global
20,2021-12-01,172.65,123.195722,172.65,49.454278,train,prophet_reg,,global
21,2022-01-01,102.65,104.023860,102.65,-1.373860,train,prophet_reg,,global
22,2022-02-01,80.90,96.649623,80.90,-15.749623,train,prophet_reg,,global
23,2022-03-01,80.75,133.007223,80.75,-52.257223,train,prophet_reg,,global
24,2022-04-01,118.19,140.596298,118.19,-22.406298,train,prophet_reg,,global
25,2022-05-01,117.65,114.111960,117.65,3.538040,train,prophet_reg,,global
26,2022-06-01,93.37,89.410335,93.37,3.959665,train,prophet_reg,,global
27,2022-07-01,98.66,111.412399,98.66,-12.752399,train,prophet_reg,,global
28,2022-08-01,100.28,77.151673,100.28,23.128327,train,prophet_reg,,global
29,2022-09-01,30.00,30.423146,30.00,-0.423146,train,prophet_reg,,global
30,2022-10-01,36.44,44.845930,36.44,-8.405930,train,prophet_reg,,global
31,2022-11-01,123.86,121.704381,123.86,2.155619,train,prophet_reg,,global
32,2022-12-01,118.99,132.545565,118.99,-13.555565,train,prophet_reg,,global
33,2023-01-01,87.88,80.781958,87.88,7.098042,train,prophet_reg,,global
34,2023-02-01,90.00,82.183791,90.00,7.816209,train,prophet_reg,,global
35,2023-03-01,190.24,170.989985,190.24,19.250015,train,prophet_reg,,global
36,2023-04-01,162.09,150.340921,162.09,11.749079,train,prophet_reg,,global
37,2023-05-01,84.99,101.049830,84.99,-16.059830,train,prophet_reg,,global
38,2023-06-01,70.18,93.854265,70.18,-23.674265,train,prophet_reg,,global
39,2023-07-01,131.09,125.332505,131.09,5.757495,train,prophet_reg,,global
40,2023-08-01,103.01,122.142278,103.01,-19.132278,train,prophet_reg,,global
41,2023-09-01,58.37,62.216232,58.37,-3.846232,train,prophet_reg,,global
42,2023-10-01,107.65,89.783451,107.65,17.866549,test,prophet_reg,,global
43,2023-11-01,118.37,198.684173,118.37,-80.314173,test,prophet_reg,,global
44,2023-12-01,113.03,150.094610,113.03,-37.064610,test,prophet_reg,,global
45,2024-01-01,122.65,61.991562,122.65,60.658438,test,prophet_reg,,global
46,2024-02-01,129.09,73.321601,129.09,55.768399,test,prophet_reg,,global
47,2024-03-01,145.57,80.466579,145.57,65.103421,test,prophet_reg,,global
48,2024-04-01,158.23,139.748595,158.23,18.481405,test,prophet_reg,,global
49,2024-05-01,104.04,149.734871,104.04,-45.694871,test,prophet_reg,,global
50,2024-06-01,173.23,95.115784,173.23,78.114216,test,prophet_reg,,global
51,2024-07-01,126.20,96.389636,126.20,29.810364,test,prophet_reg,,global
52,2024-08-01,105.07,89.556054,105.07,15.513946,test,prophet_reg,,global
53,2024-09-01,127.01,145.034239,127.01,-18.024239,test,prophet_reg,,global
54,2024-10-01,101.18,104.895176,101.18,-3.715176,test,prophet_reg,,global
55,2024-11-01,123.50,85.337923,123.50,38.162077,test,prophet_reg,,global
56,2024-12-01,120.14,126.574774,120.14,-6.434774,test,prophet_reg,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,growth,linear,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global
1,changepoint_prior_scale,0.05,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global
2,seasonality_prior_scale,10.0,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global
3,seasonality_mode,additive,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global
4,n_changepoints,25,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,21.537087,train,prophet_reg,,global
1,mae,17.262224,train,prophet_reg,,global
2,mape,19.910901,train,prophet_reg,,global
3,smape,18.557042,train,prophet_reg,,global
4,r_squared,0.626847,train,prophet_reg,,global
5,mda,80.487805,train,prophet_reg,,global
6,rmse,45.21693,test,prophet_reg,,global
7,mae,38.048444,test,prophet_reg,,global
8,mape,29.854629,test,prophet_reg,,global
9,smape,32.221975,test,prophet_reg,,global
10,r_squared,-4.288349,test,prophet_reg,,global
11,mda,57.142857,test,prophet_reg,,global
12,durbin_watson,1.224062,train,prophet_reg,,global
13,shapiro_wilk_stat,0.989399,train,prophet_reg,,global
14,shapiro_wilk_p,0.960487,train,prophet_reg,,global
15,ljung_box_stat,11.148505,train,prophet_reg,,global
16,ljung_box_p,0.193426,train,prophet_reg,,global
17,breusch_pagan_stat,NaN,train,prophet_reg,,global
18,breusch_pagan_p,NaN,train,prophet_reg,,global
19,formula,target ~ totaltar +mean_med_diesel_crack_input...,,prophet_reg,,global
20,model_type,prophet_reg,,prophet_reg,,global
21,growth,linear,,prophet_reg,,global
22,seasonality_mode,additive,,prophet_reg,,global
23,n_obs_train,42,train,prophet_reg,,global
24,train_start_date,2020-04-01T00:00:00.000000000,train,prophet_reg,,global
25,train_end_date,2023-09-01T00:00:00.000000000,train,prophet_reg,,global

## 1.2 - ARIMA

In [115]:
# Create ARIMA specification
spec_arima = arima_reg(
    seasonal_period=7,  # Weekly seasonality
    non_seasonal_ar=1,
    non_seasonal_differences=1,
    non_seasonal_ma=1,
    seasonal_ar=1,
    seasonal_differences=0,
    seasonal_ma=1
)

print(spec_arima)

# Fit ARIMA
fit_arima = spec_arima.fit(train_data, FORMULA_STR)
print("ARIMA model fitted!")

# Predict on test data
pred_arima = fit_arima.predict(test_data)

# Evaluate and extract outputs
fit_arima = fit_arima.evaluate(test_data)
outputs_arima, coefs_arima, stats_arima = fit_arima.extract_outputs()

display(outputs_arima)
display(coefs_arima)
display(stats_arima)

ModelSpec(model_type='arima_reg', engine='statsmodels', mode='regression', args={'seasonal_period': 7, 'non_seasonal_ar': 1, 'non_seasonal_differences': 1, 'non_seasonal_ma': 1, 'seasonal_ar': 1, 'seasonal_differences': 0, 'seasonal_ma': 1}, date_col=None)
ARIMA model fitted!

/Users/matthewdeane/Documents/Data Science/python/_projects/py-tidymodels/py-tidymodels2/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/Users/matthewdeane/Documents/Data Science/python/_projects/py-tidymodels/py-tidymodels2/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,5.250682,137.65,132.399318,train,arima_reg,,global
1,2020-05-01,113.53,150.527218,113.53,-36.997218,train,arima_reg,,global
2,2020-06-01,43.31,107.848484,43.31,-64.538484,train,arima_reg,,global
3,2020-07-01,79.77,28.240591,79.77,51.529409,train,arima_reg,,global
4,2020-08-01,48.27,88.007526,48.27,-39.737526,train,arima_reg,,global
5,2020-09-01,98.01,41.646030,98.01,56.363970,train,arima_reg,,global
6,2020-10-01,49.77,108.570545,49.77,-58.800545,train,arima_reg,,global
7,2020-11-01,35.48,40.260428,35.48,-4.780428,train,arima_reg,,global
8,2020-12-01,63.98,31.617338,63.98,32.362662,train,arima_reg,,global
9,2021-01-01,109.76,69.716422,109.76,40.043578,train,arima_reg,,global
10,2021-02-01,102.98,94.595437,102.98,8.384563,train,arima_reg,,global
11,2021-03-01,123.83,102.911859,123.83,20.918141,train,arima_reg,,global
12,2021-04-01,95.58,105.341717,95.58,-9.761717,train,arima_reg,,global
13,2021-05-01,127.21,105.716149,127.21,21.493851,train,arima_reg,,global
14,2021-06-01,120.18,114.388664,120.18,5.791336,train,arima_reg,,global
15,2021-07-01,88.43,105.806362,88.43,-17.376362,train,arima_reg,,global
16,2021-08-01,97.76,109.901776,97.76,-12.141776,train,arima_reg,,global
17,2021-09-01,126.47,107.530909,126.47,18.939091,train,arima_reg,,global
18,2021-10-01,116.13,110.549418,116.13,5.580582,train,arima_reg,,global
19,2021-11-01,127.87,111.313373,127.87,16.556627,train,arima_reg,,global
20,2021-12-01,172.65,118.564500,172.65,54.085500,train,arima_reg,,global
21,2022-01-01,102.65,128.582615,102.65,-25.932615,train,arima_reg,,global
22,2022-02-01,80.90,108.606117,80.90,-27.706117,train,arima_reg,,global
23,2022-03-01,80.75,103.683876,80.75,-22.933876,train,arima_reg,,global
24,2022-04-01,118.19,113.288168,118.19,4.901832,train,arima_reg,,global
25,2022-05-01,117.65,113.047642,117.65,4.602358,train,arima_reg,,global
26,2022-06-01,93.37,122.390207,93.37,-29.020207,train,arima_reg,,global
27,2022-07-01,98.66,128.742945,98.66,-30.082945,train,arima_reg,,global
28,2022-08-01,100.28,91.408535,100.28,8.871465,train,arima_reg,,global
29,2022-09-01,30.00,19.284904,30.00,10.715096,train,arima_reg,,global
30,2022-10-01,36.44,52.072709,36.44,-15.632709,train,arima_reg,,global
31,2022-11-01,123.86,91.877118,123.86,31.982882,train,arima_reg,,global
32,2022-12-01,118.99,121.937873,118.99,-2.947873,train,arima_reg,,global
33,2023-01-01,87.88,106.812436,87.88,-18.932436,train,arima_reg,,global
34,2023-02-01,90.00,97.779297,90.00,-7.779297,train,arima_reg,,global
35,2023-03-01,190.24,110.150355,190.24,80.089645,train,arima_reg,,global
36,2023-04-01,162.09,134.241494,162.09,27.848506,train,arima_reg,,global
37,2023-05-01,84.99,119.611580,84.99,-34.621580,train,arima_reg,,global
38,2023-06-01,70.18,117.461684,70.18,-47.281684,train,arima_reg,,global
39,2023-07-01,131.09,101.309757,131.09,29.780243,train,arima_reg,,global
40,2023-08-01,103.01,109.168181,103.01,-6.158181,train,arima_reg,,global
41,2023-09-01,58.37,105.237495,58.37,-46.867495,train,arima_reg,,global
42,2023-10-01,107.65,125.148084,107.65,-17.498084,test,arima_reg,,global
43,2023-11-01,118.37,123.967426,118.37,-5.597426,test,arima_reg,,global
44,2023-12-01,113.03,103.887329,113.03,9.142671,test,arima_reg,,global
45,2024-01-01,122.65,94.409452,122.65,28.240548,test,arima_reg,,global
46,2024-02-01,129.09,113.094159,129.09,15.995841,test,arima_reg,,global
47,2024-03-01,145.57,100.877216,145.57,44.692784,test,arima_reg,,global
48,2024-04-01,158.23,74.585419,158.23,83.644581,test,arima_reg,,global
49,2024-05-01,104.04,104.168995,104.04,-0.128995,test,arima_reg,,global
50,2024-06-01,173.23,93.261274,173.23,79.968726,test,arima_reg,,global
51,2024-07-01,126.20,89.253168,126.20,36.946832,test,arima_reg,,global
52,2024-08-01,105.07,90.874831,105.07,14.195169,test,arima_reg,,global
53,2024-09-01,127.01,93.345177,127.01,33.664823,test,arima_reg,,global
54,2024-10-01,101.18,93.100336,101.18,8.079664,test,arima_reg,,global
55,2024-11-01,123.50,93.377139,123.50,30.122861,test,arima_reg,,global
56,2024-12-01,120.14,93.431456,120.14,26.708544,test,arima_reg,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,totaltar,-0.301816,0.195180,-1.546350e+00,0.122020,-0.684362,0.080729,NaN,arima_reg,,global
1,mean_med_diesel_crack_input1_trade_month_lag2,-0.060808,0.097095,-6.262692e-01,0.531138,-0.251110,0.129495,NaN,arima_reg,,global
2,mean_nwe_hsfo_crack_trade_month_lag1,-0.160499,0.361724,-4.437072e-01,0.657254,-0.869465,0.548466,NaN,arima_reg,,global
3,ar.L1,0.212695,0.211311,1.006549e+00,0.314151,-0.201467,0.626856,NaN,arima_reg,,global
4,ma.L1,-1.000002,0.259247,-3.857324e+00,0.000115,-1.508117,-0.491886,NaN,arima_reg,,global
5,ar.S.L7,0.011709,0.346587,3.378505e-02,0.973049,-0.667588,0.691007,NaN,arima_reg,,global
6,ma.S.L7,0.314804,0.570340,5.519592e-01,0.580976,-0.803041,1.432650,NaN,arima_reg,,global
7,sigma2,727.308723,0.000356,2.040401e+06,0.000000,727.308024,727.309421,NaN,arima_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,38.152458,train,arima_reg,,global
1,mae,29.125517,train,arima_reg,,global
2,mape,34.139536,train,arima_reg,,global
3,smape,33.933949,train,arima_reg,,global
4,r_squared,-0.171003,train,arima_reg,,global
5,mda,53.658537,train,arima_reg,,global
6,rmse,37.637993,test,arima_reg,,global
7,mae,28.97517,test,arima_reg,,global
8,mape,21.216024,test,arima_reg,,global
9,smape,25.068372,test,arima_reg,,global
10,r_squared,-2.66413,test,arima_reg,,global
11,mda,42.857143,test,arima_reg,,global
12,durbin_watson,2.003575,train,arima_reg,,global
13,shapiro_wilk_stat,0.953924,train,arima_reg,,global
14,shapiro_wilk_p,0.089333,train,arima_reg,,global
15,ljung_box_stat,7.408848,train,arima_reg,,global
16,ljung_box_p,0.49323,train,arima_reg,,global
17,breusch_pagan_stat,NaN,train,arima_reg,,global
18,breusch_pagan_p,NaN,train,arima_reg,,global
19,formula,target ~ totaltar +mean_med_diesel_crack_input...,,arima_reg,,global
20,model_type,arima_reg,,arima_reg,,global
21,order,"(1, 1, 1)",,arima_reg,,global
22,seasonal_order,"(1, 0, 1, 7)",,arima_reg,,global
23,aic,320.688482,,arima_reg,,global
24,bic,332.414369,,arima_reg,,global
25,log_likelihood,-152.344241,,arima_reg,,global
26,sigma2,1.0,,arima_reg,,global
27,n_obs_train,42,train,arima_reg,,global
28,train_start_date,2020-04-01T00:00:00.000000000,train,arima_reg,,global
29,train_end_date,2023-09-01T00:00:00.000000000,train,arima_reg,,global

## 1.3 - OLS - Statsmodels

In [116]:
from py_parsnip import linear_reg

# Create specification with statsmodels engine
spec_sm = linear_reg().set_engine("statsmodels")

# Fit model
fit_sm = spec_sm.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_sm = fit_sm.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_sm, coefs_sm, stats_sm = fit_sm.extract_outputs()

display(outputs_sm)
display(coefs_sm)
display(stats_sm)

Model fitted successfully!

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,103.031150,137.65,34.618850,train,linear_reg,,global
1,2020-05-01,113.53,100.680966,113.53,12.849034,train,linear_reg,,global
2,2020-06-01,43.31,99.272716,43.31,-55.962716,train,linear_reg,,global
3,2020-07-01,79.77,98.337003,79.77,-18.567003,train,linear_reg,,global
4,2020-08-01,48.27,98.790761,48.27,-50.520761,train,linear_reg,,global
5,2020-09-01,98.01,98.953101,98.01,-0.943101,train,linear_reg,,global
6,2020-10-01,49.77,98.915648,49.77,-49.145648,train,linear_reg,,global
7,2020-11-01,35.48,98.973392,35.48,-63.493392,train,linear_reg,,global
8,2020-12-01,63.98,97.883238,63.98,-33.903238,train,linear_reg,,global
9,2021-01-01,109.76,99.092251,109.76,10.667749,train,linear_reg,,global
10,2021-02-01,102.98,90.795206,102.98,12.184794,train,linear_reg,,global
11,2021-03-01,123.83,100.651512,123.83,23.178488,train,linear_reg,,global
12,2021-04-01,95.58,90.820994,95.58,4.759006,train,linear_reg,,global
13,2021-05-01,127.21,102.677001,127.21,24.532999,train,linear_reg,,global
14,2021-06-01,120.18,102.984785,120.18,17.195215,train,linear_reg,,global
15,2021-07-01,88.43,103.987130,88.43,-15.557130,train,linear_reg,,global
16,2021-08-01,97.76,104.510043,97.76,-6.750043,train,linear_reg,,global
17,2021-09-01,126.47,104.279769,126.47,22.190231,train,linear_reg,,global
18,2021-10-01,116.13,95.946344,116.13,20.183656,train,linear_reg,,global
19,2021-11-01,127.87,103.423715,127.87,24.446285,train,linear_reg,,global
20,2021-12-01,172.65,92.873562,172.65,79.776438,train,linear_reg,,global
21,2022-01-01,102.65,94.288239,102.65,8.361761,train,linear_reg,,global
22,2022-02-01,80.90,104.928700,80.90,-24.028700,train,linear_reg,,global
23,2022-03-01,80.75,106.022964,80.75,-25.272964,train,linear_reg,,global
24,2022-04-01,118.19,108.889572,118.19,9.300428,train,linear_reg,,global
25,2022-05-01,117.65,95.172724,117.65,22.477276,train,linear_reg,,global
26,2022-06-01,93.37,109.048744,93.37,-15.678744,train,linear_reg,,global
27,2022-07-01,98.66,112.844639,98.66,-14.184639,train,linear_reg,,global
28,2022-08-01,100.28,96.462948,100.28,3.817052,train,linear_reg,,global
29,2022-09-01,30.00,34.647162,30.00,-4.647162,train,linear_reg,,global
30,2022-10-01,36.44,38.339328,36.44,-1.899328,train,linear_reg,,global
31,2022-11-01,123.86,91.202172,123.86,32.657828,train,linear_reg,,global
32,2022-12-01,118.99,114.914362,118.99,4.075638,train,linear_reg,,global
33,2023-01-01,87.88,113.965721,87.88,-26.085721,train,linear_reg,,global
34,2023-02-01,90.00,111.929350,90.00,-21.929350,train,linear_reg,,global
35,2023-03-01,190.24,111.694949,190.24,78.545051,train,linear_reg,,global
36,2023-04-01,162.09,109.983471,162.09,52.106529,train,linear_reg,,global
37,2023-05-01,84.99,106.996366,84.99,-22.006366,train,linear_reg,,global
38,2023-06-01,70.18,105.661750,70.18,-35.481750,train,linear_reg,,global
39,2023-07-01,131.09,104.094387,131.09,26.995613,train,linear_reg,,global
40,2023-08-01,103.01,102.186325,103.01,0.823675,train,linear_reg,,global
41,2023-09-01,58.37,98.055839,58.37,-39.685839,train,linear_reg,,global
42,2023-10-01,107.65,102.146931,107.65,5.503069,test,linear_reg,,global
43,2023-11-01,118.37,105.257312,118.37,13.112688,test,linear_reg,,global
44,2023-12-01,113.03,107.102404,113.03,5.927596,test,linear_reg,,global
45,2024-01-01,122.65,105.250697,122.65,17.399303,test,linear_reg,,global
46,2024-02-01,129.09,93.875346,129.09,35.214654,test,linear_reg,,global
47,2024-03-01,145.57,96.799931,145.57,48.770069,test,linear_reg,,global
48,2024-04-01,158.23,78.407948,158.23,79.822052,test,linear_reg,,global
49,2024-05-01,104.04,102.827467,104.04,1.212533,test,linear_reg,,global
50,2024-06-01,173.23,89.970992,173.23,83.259008,test,linear_reg,,global
51,2024-07-01,126.20,85.194772,126.20,41.005228,test,linear_reg,,global
52,2024-08-01,105.07,86.498257,105.07,18.571743,test,linear_reg,,global
53,2024-09-01,127.01,88.887533,127.01,38.122467,test,linear_reg,,global
54,2024-10-01,101.18,88.819049,101.18,12.360951,test,linear_reg,,global
55,2024-11-01,123.50,87.209067,123.50,36.290933,test,linear_reg,,global
56,2024-12-01,120.14,86.761917,120.14,33.378083,test,linear_reg,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,Intercept,92.420998,8.352429,11.065165,1.903858e-13,75.512390,109.329606,NaN,linear_reg,,global
1,totaltar,-0.274647,0.110660,-2.481899,1.760500e-02,-0.498666,-0.050627,1.004942,linear_reg,,global
2,mean_med_diesel_crack_input1_trade_month_lag2,-0.093034,0.097941,-0.949898,3.481667e-01,-0.291305,0.105237,1.009927,linear_reg,,global
3,mean_nwe_hsfo_crack_trade_month_lag1,-0.470998,0.420807,-1.119275,2.700480e-01,-1.322877,0.380880,1.005225,linear_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,31.772848,train,linear_reg,,global
1,mae,25.035409,train,linear_reg,,global
2,mape,31.042183,train,linear_reg,,global
3,smape,26.008852,train,linear_reg,,global
4,r_squared,0.18787,train,linear_reg,,global
5,mda,58.536585,train,linear_reg,,global
6,adj_r_squared,0.100073,train,linear_reg,,global
7,rmse,39.604179,test,linear_reg,,global
8,mae,31.330025,test,linear_reg,,global
9,mape,23.043006,test,linear_reg,,global
10,smape,27.638952,test,linear_reg,,global
11,r_squared,-3.056953,test,linear_reg,,global
12,mda,42.857143,test,linear_reg,,global
13,adj_r_squared,-4.679734,test,linear_reg,,global
14,durbin_watson,1.331939,train,linear_reg,,global
15,shapiro_wilk_stat,0.975185,train,linear_reg,,global
16,shapiro_wilk_p,0.484537,train,linear_reg,,global
17,ljung_box_stat,9.181882,train,linear_reg,,global
18,ljung_box_p,0.327186,train,linear_reg,,global
19,breusch_pagan_stat,1.905207,train,linear_reg,,global
20,breusch_pagan_p,0.592313,train,linear_reg,,global
21,aic,417.714252,,linear_reg,,global
22,bic,424.66493,,linear_reg,,global
23,log_likelihood,-204.857126,,linear_reg,,global
24,f_statistic,2.930188,,linear_reg,,global
25,f_pvalue,0.045831,,linear_reg,,global
26,condition_number,120.902071,,linear_reg,,global
27,n_obs_train,42,train,linear_reg,,global
28,n_features,4,,linear_reg,,global
29,train_start_date,2020-04-01T00:00:00.000000000,train,linear_reg,,global
30,train_end_date,2023-09-01T00:00:00.000000000,train,linear_reg,,global

## 1.4 - OLS - sklearn

In [117]:
# sklearn engine (default)
spec_sk = linear_reg()
fit_sk = spec_sk.fit(train_data, FORMULA_STR)
fit_sk = fit_sk.evaluate(test_data)

print("sklearn model fitted successfully!")

outputs_sk, coefs_sk, stats_sk = fit_sk.extract_outputs()
display(outputs_sk)
display(coefs_sk)
display(stats_sk)

sklearn model fitted successfully!

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,103.031150,137.65,34.618850,train,linear_reg,,global
1,2020-05-01,113.53,100.680966,113.53,12.849034,train,linear_reg,,global
2,2020-06-01,43.31,99.272716,43.31,-55.962716,train,linear_reg,,global
3,2020-07-01,79.77,98.337003,79.77,-18.567003,train,linear_reg,,global
4,2020-08-01,48.27,98.790761,48.27,-50.520761,train,linear_reg,,global
5,2020-09-01,98.01,98.953101,98.01,-0.943101,train,linear_reg,,global
6,2020-10-01,49.77,98.915648,49.77,-49.145648,train,linear_reg,,global
7,2020-11-01,35.48,98.973392,35.48,-63.493392,train,linear_reg,,global
8,2020-12-01,63.98,97.883238,63.98,-33.903238,train,linear_reg,,global
9,2021-01-01,109.76,99.092251,109.76,10.667749,train,linear_reg,,global
10,2021-02-01,102.98,90.795206,102.98,12.184794,train,linear_reg,,global
11,2021-03-01,123.83,100.651512,123.83,23.178488,train,linear_reg,,global
12,2021-04-01,95.58,90.820994,95.58,4.759006,train,linear_reg,,global
13,2021-05-01,127.21,102.677001,127.21,24.532999,train,linear_reg,,global
14,2021-06-01,120.18,102.984785,120.18,17.195215,train,linear_reg,,global
15,2021-07-01,88.43,103.987130,88.43,-15.557130,train,linear_reg,,global
16,2021-08-01,97.76,104.510043,97.76,-6.750043,train,linear_reg,,global
17,2021-09-01,126.47,104.279769,126.47,22.190231,train,linear_reg,,global
18,2021-10-01,116.13,95.946344,116.13,20.183656,train,linear_reg,,global
19,2021-11-01,127.87,103.423715,127.87,24.446285,train,linear_reg,,global
20,2021-12-01,172.65,92.873562,172.65,79.776438,train,linear_reg,,global
21,2022-01-01,102.65,94.288239,102.65,8.361761,train,linear_reg,,global
22,2022-02-01,80.90,104.928700,80.90,-24.028700,train,linear_reg,,global
23,2022-03-01,80.75,106.022964,80.75,-25.272964,train,linear_reg,,global
24,2022-04-01,118.19,108.889572,118.19,9.300428,train,linear_reg,,global
25,2022-05-01,117.65,95.172724,117.65,22.477276,train,linear_reg,,global
26,2022-06-01,93.37,109.048744,93.37,-15.678744,train,linear_reg,,global
27,2022-07-01,98.66,112.844639,98.66,-14.184639,train,linear_reg,,global
28,2022-08-01,100.28,96.462948,100.28,3.817052,train,linear_reg,,global
29,2022-09-01,30.00,34.647162,30.00,-4.647162,train,linear_reg,,global
30,2022-10-01,36.44,38.339328,36.44,-1.899328,train,linear_reg,,global
31,2022-11-01,123.86,91.202172,123.86,32.657828,train,linear_reg,,global
32,2022-12-01,118.99,114.914362,118.99,4.075638,train,linear_reg,,global
33,2023-01-01,87.88,113.965721,87.88,-26.085721,train,linear_reg,,global
34,2023-02-01,90.00,111.929350,90.00,-21.929350,train,linear_reg,,global
35,2023-03-01,190.24,111.694949,190.24,78.545051,train,linear_reg,,global
36,2023-04-01,162.09,109.983471,162.09,52.106529,train,linear_reg,,global
37,2023-05-01,84.99,106.996366,84.99,-22.006366,train,linear_reg,,global
38,2023-06-01,70.18,105.661750,70.18,-35.481750,train,linear_reg,,global
39,2023-07-01,131.09,104.094387,131.09,26.995613,train,linear_reg,,global
40,2023-08-01,103.01,102.186325,103.01,0.823675,train,linear_reg,,global
41,2023-09-01,58.37,98.055839,58.37,-39.685839,train,linear_reg,,global
42,2023-10-01,107.65,102.146931,107.65,5.503069,test,linear_reg,,global
43,2023-11-01,118.37,105.257312,118.37,13.112688,test,linear_reg,,global
44,2023-12-01,113.03,107.102404,113.03,5.927596,test,linear_reg,,global
45,2024-01-01,122.65,105.250697,122.65,17.399303,test,linear_reg,,global
46,2024-02-01,129.09,93.875346,129.09,35.214654,test,linear_reg,,global
47,2024-03-01,145.57,96.799931,145.57,48.770069,test,linear_reg,,global
48,2024-04-01,158.23,78.407948,158.23,79.822052,test,linear_reg,,global
49,2024-05-01,104.04,102.827467,104.04,1.212533,test,linear_reg,,global
50,2024-06-01,173.23,89.970992,173.23,83.259008,test,linear_reg,,global
51,2024-07-01,126.20,85.194772,126.20,41.005228,test,linear_reg,,global
52,2024-08-01,105.07,86.498257,105.07,18.571743,test,linear_reg,,global
53,2024-09-01,127.01,88.887533,127.01,38.122467,test,linear_reg,,global
54,2024-10-01,101.18,88.819049,101.18,12.360951,test,linear_reg,,global
55,2024-11-01,123.50,87.209067,123.50,36.290933,test,linear_reg,,global
56,2024-12-01,120.14,86.761917,120.14,33.378083,test,linear_reg,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,Intercept,92.420998,8.352429,11.065165,1.905143e-13,75.512390,109.329606,NaN,linear_reg,,global
1,totaltar,-0.274647,0.110660,-2.481899,1.760500e-02,-0.498666,-0.050627,1.004942,linear_reg,,global
2,mean_med_diesel_crack_input1_trade_month_lag2,-0.093034,0.097941,-0.949898,3.481667e-01,-0.291305,0.105237,1.009927,linear_reg,,global
3,mean_nwe_hsfo_crack_trade_month_lag1,-0.470998,0.420807,-1.119275,2.700480e-01,-1.322877,0.380880,1.005225,linear_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,31.772848,train,linear_reg,,global
1,mae,25.035409,train,linear_reg,,global
2,mape,31.042183,train,linear_reg,,global
3,smape,26.008852,train,linear_reg,,global
4,r_squared,0.18787,train,linear_reg,,global
5,mda,58.536585,train,linear_reg,,global
6,adj_r_squared,0.123755,train,linear_reg,,global
7,rmse,39.604179,test,linear_reg,,global
8,mae,31.330025,test,linear_reg,,global
9,mape,23.043006,test,linear_reg,,global
10,smape,27.638952,test,linear_reg,,global
11,r_squared,-3.056953,test,linear_reg,,global
12,mda,42.857143,test,linear_reg,,global
13,durbin_watson,1.331939,train,linear_reg,,global
14,shapiro_wilk_stat,0.975185,train,linear_reg,,global
15,shapiro_wilk_p,0.484537,train,linear_reg,,global
16,ljung_box_stat,9.181882,train,linear_reg,,global
17,ljung_box_p,0.327186,train,linear_reg,,global
18,breusch_pagan_stat,1.905207,train,linear_reg,,global
19,breusch_pagan_p,0.592313,train,linear_reg,,global
20,formula,target ~ totaltar +mean_med_diesel_crack_input...,,linear_reg,,global
21,model_type,linear_reg,,linear_reg,,global
22,model_class,LinearRegression,,linear_reg,,global
23,n_obs_train,42,train,linear_reg,,global
24,train_start_date,2020-04-01T00:00:00.000000000,train,linear_reg,,global
25,train_end_date,2023-09-01T00:00:00.000000000,train,linear_reg,,global

In [118]:
from py_parsnip import linear_reg

# Create specification with statsmodels engine
spec_elasticnet = linear_reg(penalty = 0.1, mixture = 0.5).set_engine("sklearn")

# Fit model
fit_elasticnet = spec_elasticnet.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_elasticnet = fit_elasticnet.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_elasticnet, coefs_elasticnet, stats_elasticnet = fit_elasticnet.extract_outputs()

display(outputs_elasticnet)
display(coefs_elasticnet)
display(stats_elasticnet)

Model fitted successfully!

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,103.030212,137.65,34.619788,train,linear_reg,,global
1,2020-05-01,113.53,100.681260,113.53,12.848740,train,linear_reg,,global
2,2020-06-01,43.31,99.273415,43.31,-55.963415,train,linear_reg,,global
3,2020-07-01,79.77,98.338550,79.77,-18.568550,train,linear_reg,,global
4,2020-08-01,48.27,98.792697,48.27,-50.522697,train,linear_reg,,global
5,2020-09-01,98.01,98.955125,98.01,-0.945125,train,linear_reg,,global
6,2020-10-01,49.77,98.917902,49.77,-49.147902,train,linear_reg,,global
7,2020-11-01,35.48,98.975496,35.48,-63.495496,train,linear_reg,,global
8,2020-12-01,63.98,97.886346,63.98,-33.906346,train,linear_reg,,global
9,2021-01-01,109.76,99.094081,109.76,10.665919,train,linear_reg,,global
10,2021-02-01,102.98,90.797857,102.98,12.182143,train,linear_reg,,global
11,2021-03-01,123.83,100.652760,123.83,23.177240,train,linear_reg,,global
12,2021-04-01,95.58,90.822757,95.58,4.757243,train,linear_reg,,global
13,2021-05-01,127.21,102.677260,127.21,24.532740,train,linear_reg,,global
14,2021-06-01,120.18,102.984536,120.18,17.195464,train,linear_reg,,global
15,2021-07-01,88.43,103.986122,88.43,-15.556122,train,linear_reg,,global
16,2021-08-01,97.76,104.508836,97.76,-6.748836,train,linear_reg,,global
17,2021-09-01,126.47,104.279040,126.47,22.190960,train,linear_reg,,global
18,2021-10-01,116.13,95.946714,116.13,20.183286,train,linear_reg,,global
19,2021-11-01,127.87,103.423474,127.87,24.446526,train,linear_reg,,global
20,2021-12-01,172.65,92.885186,172.65,79.764814,train,linear_reg,,global
21,2022-01-01,102.65,94.298559,102.65,8.351441,train,linear_reg,,global
22,2022-02-01,80.90,104.927310,80.90,-24.027310,train,linear_reg,,global
23,2022-03-01,80.75,106.021097,80.75,-25.271097,train,linear_reg,,global
24,2022-04-01,118.19,108.885577,118.19,9.304423,train,linear_reg,,global
25,2022-05-01,117.65,95.183946,117.65,22.466054,train,linear_reg,,global
26,2022-06-01,93.37,109.045701,93.37,-15.675701,train,linear_reg,,global
27,2022-07-01,98.66,112.837778,98.66,-14.177778,train,linear_reg,,global
28,2022-08-01,100.28,96.454484,100.28,3.825516,train,linear_reg,,global
29,2022-09-01,30.00,34.648150,30.00,-4.648150,train,linear_reg,,global
30,2022-10-01,36.44,38.362210,36.44,-1.922210,train,linear_reg,,global
31,2022-11-01,123.86,91.193530,123.86,32.666470,train,linear_reg,,global
32,2022-12-01,118.99,114.902508,118.99,4.087492,train,linear_reg,,global
33,2023-01-01,87.88,113.956304,87.88,-26.076304,train,linear_reg,,global
34,2023-02-01,90.00,111.921180,90.00,-21.921180,train,linear_reg,,global
35,2023-03-01,190.24,111.687218,190.24,78.552782,train,linear_reg,,global
36,2023-04-01,162.09,109.977774,162.09,52.112226,train,linear_reg,,global
37,2023-05-01,84.99,106.993333,84.99,-22.003333,train,linear_reg,,global
38,2023-06-01,70.18,105.660218,70.18,-35.480218,train,linear_reg,,global
39,2023-07-01,131.09,104.094043,131.09,26.995957,train,linear_reg,,global
40,2023-08-01,103.01,102.187779,103.01,0.822221,train,linear_reg,,global
41,2023-09-01,58.37,98.061677,58.37,-39.691677,train,linear_reg,,global
42,2023-10-01,107.65,102.149248,107.65,5.500752,test,linear_reg,,global
43,2023-11-01,118.37,105.256777,118.37,13.113223,test,linear_reg,,global
44,2023-12-01,113.03,107.099988,113.03,5.930012,test,linear_reg,,global
45,2024-01-01,122.65,105.249753,122.65,17.400247,test,linear_reg,,global
46,2024-02-01,129.09,93.885626,129.09,35.204374,test,linear_reg,,global
47,2024-03-01,145.57,96.799219,145.57,48.770781,test,linear_reg,,global
48,2024-04-01,158.23,78.419865,158.23,79.810135,test,linear_reg,,global
49,2024-05-01,104.04,102.825541,104.04,1.214459,test,linear_reg,,global
50,2024-06-01,173.23,89.971752,173.23,83.258248,test,linear_reg,,global
51,2024-07-01,126.20,85.197033,126.20,41.002967,test,linear_reg,,global
52,2024-08-01,105.07,86.500429,105.07,18.569571,test,linear_reg,,global
53,2024-09-01,127.01,88.889074,127.01,38.120926,test,linear_reg,,global
54,2024-10-01,101.18,88.820222,101.18,12.359778,test,linear_reg,,global
55,2024-11-01,123.50,87.212850,123.50,36.287150,test,linear_reg,,global
56,2024-12-01,120.14,86.766288,120.14,33.373712,test,linear_reg,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,Intercept,92.426157,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global
1,totaltar,-0.274617,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global
2,mean_med_diesel_crack_input1_trade_month_lag2,-0.093024,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global
3,mean_nwe_hsfo_crack_trade_month_lag1,-0.470513,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,31.772848,train,linear_reg,,global
1,mae,25.035688,train,linear_reg,,global
2,mape,31.043648,train,linear_reg,,global
3,smape,26.010013,train,linear_reg,,global
4,r_squared,0.18787,train,linear_reg,,global
5,mda,58.536585,train,linear_reg,,global
6,adj_r_squared,0.123755,train,linear_reg,,global
7,rmse,39.601142,test,linear_reg,,global
8,mae,31.327756,test,linear_reg,,global
9,mape,23.041318,test,linear_reg,,global
10,smape,27.636412,test,linear_reg,,global
11,r_squared,-3.056331,test,linear_reg,,global
12,mda,42.857143,test,linear_reg,,global
13,durbin_watson,1.331928,train,linear_reg,,global
14,shapiro_wilk_stat,0.975183,train,linear_reg,,global
15,shapiro_wilk_p,0.484499,train,linear_reg,,global
16,ljung_box_stat,9.183214,train,linear_reg,,global
17,ljung_box_p,0.327077,train,linear_reg,,global
18,breusch_pagan_stat,1.903693,train,linear_reg,,global
19,breusch_pagan_p,0.592634,train,linear_reg,,global
20,formula,target ~ totaltar +mean_med_diesel_crack_input...,,linear_reg,,global
21,model_type,linear_reg,,linear_reg,,global
22,model_class,ElasticNet,,linear_reg,,global
23,n_obs_train,42,train,linear_reg,,global
24,train_start_date,2020-04-01T00:00:00.000000000,train,linear_reg,,global
25,train_end_date,2023-09-01T00:00:00.000000000,train,linear_reg,,global

In [119]:
from py_parsnip import linear_reg

# Create specification with statsmodels engine
spec_ridge  = linear_reg(penalty = 0.1, mixture = 0).set_engine("sklearn")

# Fit model
fit_ridge = spec_ridge.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_ridge = fit_ridge.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_ridge, coefs_ridge, stats_ridge = fit_ridge.extract_outputs()

display(outputs_ridge)
display(coefs_ridge)
display(stats_ridge)

Model fitted successfully!

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,103.031138,137.65,34.618862,train,linear_reg,,global
1,2020-05-01,113.53,100.680970,113.53,12.849030,train,linear_reg,,global
2,2020-06-01,43.31,99.272724,43.31,-55.962724,train,linear_reg,,global
3,2020-07-01,79.77,98.337024,79.77,-18.567024,train,linear_reg,,global
4,2020-08-01,48.27,98.790790,48.27,-50.520790,train,linear_reg,,global
5,2020-09-01,98.01,98.953132,98.01,-0.943132,train,linear_reg,,global
6,2020-10-01,49.77,98.915682,49.77,-49.145682,train,linear_reg,,global
7,2020-11-01,35.48,98.973424,35.48,-63.493424,train,linear_reg,,global
8,2020-12-01,63.98,97.883285,63.98,-33.903285,train,linear_reg,,global
9,2021-01-01,109.76,99.092279,109.76,10.667721,train,linear_reg,,global
10,2021-02-01,102.98,90.795227,102.98,12.184773,train,linear_reg,,global
11,2021-03-01,123.83,100.651533,123.83,23.178467,train,linear_reg,,global
12,2021-04-01,95.58,90.820999,95.58,4.759001,train,linear_reg,,global
13,2021-05-01,127.21,102.677010,127.21,24.532990,train,linear_reg,,global
14,2021-06-01,120.18,102.984785,120.18,17.195215,train,linear_reg,,global
15,2021-07-01,88.43,103.987119,88.43,-15.557119,train,linear_reg,,global
16,2021-08-01,97.76,104.510030,97.76,-6.750030,train,linear_reg,,global
17,2021-09-01,126.47,104.279764,126.47,22.190236,train,linear_reg,,global
18,2021-10-01,116.13,95.946351,116.13,20.183649,train,linear_reg,,global
19,2021-11-01,127.87,103.423717,127.87,24.446283,train,linear_reg,,global
20,2021-12-01,172.65,92.873749,172.65,79.776251,train,linear_reg,,global
21,2022-01-01,102.65,94.288405,102.65,8.361595,train,linear_reg,,global
22,2022-02-01,80.90,104.928685,80.90,-24.028685,train,linear_reg,,global
23,2022-03-01,80.75,106.022943,80.75,-25.272943,train,linear_reg,,global
24,2022-04-01,118.19,108.889521,118.19,9.300479,train,linear_reg,,global
25,2022-05-01,117.65,95.172909,117.65,22.477091,train,linear_reg,,global
26,2022-06-01,93.37,109.048710,93.37,-15.678710,train,linear_reg,,global
27,2022-07-01,98.66,112.844546,98.66,-14.184546,train,linear_reg,,global
28,2022-08-01,100.28,96.462785,100.28,3.817215,train,linear_reg,,global
29,2022-09-01,30.00,34.647151,30.00,-4.647151,train,linear_reg,,global
30,2022-10-01,36.44,38.339634,36.44,-1.899634,train,linear_reg,,global
31,2022-11-01,123.86,91.202006,123.86,32.657994,train,linear_reg,,global
32,2022-12-01,118.99,114.914188,118.99,4.075812,train,linear_reg,,global
33,2023-01-01,87.88,113.965585,87.88,-26.085585,train,linear_reg,,global
34,2023-02-01,90.00,111.929232,90.00,-21.929232,train,linear_reg,,global
35,2023-03-01,190.24,111.694838,190.24,78.545162,train,linear_reg,,global
36,2023-04-01,162.09,109.983392,162.09,52.106608,train,linear_reg,,global
37,2023-05-01,84.99,106.996327,84.99,-22.006327,train,linear_reg,,global
38,2023-06-01,70.18,105.661734,70.18,-35.481734,train,linear_reg,,global
39,2023-07-01,131.09,104.094388,131.09,26.995612,train,linear_reg,,global
40,2023-08-01,103.01,102.186354,103.01,0.823646,train,linear_reg,,global
41,2023-09-01,58.37,98.055936,58.37,-39.685936,train,linear_reg,,global
42,2023-10-01,107.65,102.146975,107.65,5.503025,test,linear_reg,,global
43,2023-11-01,118.37,105.257313,118.37,13.112687,test,linear_reg,,global
44,2023-12-01,113.03,107.102376,113.03,5.927624,test,linear_reg,,global
45,2024-01-01,122.65,105.250691,122.65,17.399309,test,linear_reg,,global
46,2024-02-01,129.09,93.875511,129.09,35.214489,test,linear_reg,,global
47,2024-03-01,145.57,96.799922,145.57,48.770078,test,linear_reg,,global
48,2024-04-01,158.23,78.408131,158.23,79.821869,test,linear_reg,,global
49,2024-05-01,104.04,102.827443,104.04,1.212557,test,linear_reg,,global
50,2024-06-01,173.23,89.971006,173.23,83.258994,test,linear_reg,,global
51,2024-07-01,126.20,85.194806,126.20,41.005194,test,linear_reg,,global
52,2024-08-01,105.07,86.498290,105.07,18.571710,test,linear_reg,,global
53,2024-09-01,127.01,88.887557,127.01,38.122443,test,linear_reg,,global
54,2024-10-01,101.18,88.819067,101.18,12.360933,test,linear_reg,,global
55,2024-11-01,123.50,87.209124,123.50,36.290876,test,linear_reg,,global
56,2024-12-01,120.14,86.761983,120.14,33.378017,test,linear_reg,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,Intercept,92.421068,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global
1,totaltar,-0.274646,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global
2,mean_med_diesel_crack_input1_trade_month_lag2,-0.093034,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global
3,mean_nwe_hsfo_crack_trade_month_lag1,-0.470991,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,31.772848,train,linear_reg,,global
1,mae,25.035414,train,linear_reg,,global
2,mape,31.042204,train,linear_reg,,global
3,smape,26.008867,train,linear_reg,,global
4,r_squared,0.18787,train,linear_reg,,global
5,mda,58.536585,train,linear_reg,,global
6,adj_r_squared,0.123755,train,linear_reg,,global
7,rmse,39.604131,test,linear_reg,,global
8,mae,31.329987,test,linear_reg,,global
9,mape,23.042977,test,linear_reg,,global
10,smape,27.63891,test,linear_reg,,global
11,r_squared,-3.056943,test,linear_reg,,global
12,mda,42.857143,test,linear_reg,,global
13,durbin_watson,1.331939,train,linear_reg,,global
14,shapiro_wilk_stat,0.975185,train,linear_reg,,global
15,shapiro_wilk_p,0.484537,train,linear_reg,,global
16,ljung_box_stat,9.181902,train,linear_reg,,global
17,ljung_box_p,0.327184,train,linear_reg,,global
18,breusch_pagan_stat,1.905182,train,linear_reg,,global
19,breusch_pagan_p,0.592318,train,linear_reg,,global
20,formula,target ~ totaltar +mean_med_diesel_crack_input...,,linear_reg,,global
21,model_type,linear_reg,,linear_reg,,global
22,model_class,Ridge,,linear_reg,,global
23,n_obs_train,42,train,linear_reg,,global
24,train_start_date,2020-04-01T00:00:00.000000000,train,linear_reg,,global
25,train_end_date,2023-09-01T00:00:00.000000000,train,linear_reg,,global

In [120]:
from py_parsnip import linear_reg

# Create specification with statsmodels engine
spec_lasso  = linear_reg(penalty = 0.1, mixture = 1).set_engine("sklearn")

# Fit model
fit_lasso = spec_lasso.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_lasso = fit_lasso.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_lasso, coefs_lasso, stats_lasso = fit_lasso.extract_outputs()

display(outputs_lasso)
display(coefs_lasso)
display(stats_lasso)

Model fitted successfully!

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,103.029775,137.65,34.620225,train,linear_reg,,global
1,2020-05-01,113.53,100.681384,113.53,12.848616,train,linear_reg,,global
2,2020-06-01,43.31,99.273792,43.31,-55.963792,train,linear_reg,,global
3,2020-07-01,79.77,98.339240,79.77,-18.569240,train,linear_reg,,global
4,2020-08-01,48.27,98.793435,48.27,-50.523435,train,linear_reg,,global
5,2020-09-01,98.01,98.955868,98.01,-0.945868,train,linear_reg,,global
6,2020-10-01,49.77,98.918707,49.77,-49.148707,train,linear_reg,,global
7,2020-11-01,35.48,98.976257,35.48,-63.496257,train,linear_reg,,global
8,2020-12-01,63.98,97.887476,63.98,-33.907476,train,linear_reg,,global
9,2021-01-01,109.76,99.094761,109.76,10.665239,train,linear_reg,,global
10,2021-02-01,102.98,90.799631,102.98,12.180369,train,linear_reg,,global
11,2021-03-01,123.83,100.653127,123.83,23.176873,train,linear_reg,,global
12,2021-04-01,95.58,90.824306,95.58,4.755694,train,linear_reg,,global
13,2021-05-01,127.21,102.677162,127.21,24.532838,train,linear_reg,,global
14,2021-06-01,120.18,102.984278,120.18,17.195722,train,linear_reg,,global
15,2021-07-01,88.43,103.985566,88.43,-15.555566,train,linear_reg,,global
16,2021-08-01,97.76,104.508174,97.76,-6.748174,train,linear_reg,,global
17,2021-09-01,126.47,104.278522,126.47,22.191478,train,linear_reg,,global
18,2021-10-01,116.13,95.946772,116.13,20.183228,train,linear_reg,,global
19,2021-11-01,127.87,103.423151,127.87,24.446849,train,linear_reg,,global
20,2021-12-01,172.65,92.888991,172.65,79.761009,train,linear_reg,,global
21,2022-01-01,102.65,94.301884,102.65,8.348116,train,linear_reg,,global
22,2022-02-01,80.90,104.926557,80.90,-24.026557,train,linear_reg,,global
23,2022-03-01,80.75,106.020108,80.75,-25.270108,train,linear_reg,,global
24,2022-04-01,118.19,108.883747,118.19,9.306253,train,linear_reg,,global
25,2022-05-01,117.65,95.187403,117.65,22.462597,train,linear_reg,,global
26,2022-06-01,93.37,109.044092,93.37,-15.674092,train,linear_reg,,global
27,2022-07-01,98.66,112.834805,98.66,-14.174805,train,linear_reg,,global
28,2022-08-01,100.28,96.452862,100.28,3.827138,train,linear_reg,,global
29,2022-09-01,30.00,34.649595,30.00,-4.649595,train,linear_reg,,global
30,2022-10-01,36.44,38.372232,36.44,-1.932232,train,linear_reg,,global
31,2022-11-01,123.86,91.191834,123.86,32.668166,train,linear_reg,,global
32,2022-12-01,118.99,114.897964,118.99,4.092036,train,linear_reg,,global
33,2023-01-01,87.88,113.952569,87.88,-26.072569,train,linear_reg,,global
34,2023-02-01,90.00,111.917976,90.00,-21.917976,train,linear_reg,,global
35,2023-03-01,190.24,111.684150,190.24,78.555850,train,linear_reg,,global
36,2023-04-01,162.09,109.975399,162.09,52.114601,train,linear_reg,,global
37,2023-05-01,84.99,106.991947,84.99,-22.001947,train,linear_reg,,global
38,2023-06-01,70.18,105.659351,70.18,-35.479351,train,linear_reg,,global
39,2023-07-01,131.09,104.093643,131.09,26.996357,train,linear_reg,,global
40,2023-08-01,103.01,102.188033,103.01,0.821967,train,linear_reg,,global
41,2023-09-01,58.37,98.063475,58.37,-39.693475,train,linear_reg,,global
42,2023-10-01,107.65,102.149724,107.65,5.500276,test,linear_reg,,global
43,2023-11-01,118.37,105.256204,118.37,13.113796,test,linear_reg,,global
44,2023-12-01,113.03,107.098744,113.03,5.931256,test,linear_reg,,global
45,2024-01-01,122.65,105.249077,122.65,17.400923,test,linear_reg,,global
46,2024-02-01,129.09,93.888986,129.09,35.201014,test,linear_reg,,global
47,2024-03-01,145.57,96.798857,145.57,48.771143,test,linear_reg,,global
48,2024-04-01,158.23,78.424107,158.23,79.805893,test,linear_reg,,global
49,2024-05-01,104.04,102.824599,104.04,1.215401,test,linear_reg,,global
50,2024-06-01,173.23,89.971956,173.23,83.258044,test,linear_reg,,global
51,2024-07-01,126.20,85.197872,126.20,41.002128,test,linear_reg,,global
52,2024-08-01,105.07,86.501232,105.07,18.568768,test,linear_reg,,global
53,2024-09-01,127.01,88.889589,127.01,38.120411,test,linear_reg,,global
54,2024-10-01,101.18,88.820653,101.18,12.359347,test,linear_reg,,global
55,2024-11-01,123.50,87.214223,123.50,36.285777,test,linear_reg,,global
56,2024-12-01,120.14,86.767860,120.14,33.372140,test,linear_reg,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,Intercept,92.428387,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global
1,totaltar,-0.274601,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global
2,mean_med_diesel_crack_input1_trade_month_lag2,-0.093012,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global
3,mean_nwe_hsfo_crack_trade_month_lag1,-0.470341,NaN,NaN,NaN,NaN,NaN,NaN,linear_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,31.772849,train,linear_reg,,global
1,mae,25.035772,train,linear_reg,,global
2,mape,31.044268,train,linear_reg,,global
3,smape,26.010527,train,linear_reg,,global
4,r_squared,0.18787,train,linear_reg,,global
5,mda,58.536585,train,linear_reg,,global
6,adj_r_squared,0.123755,train,linear_reg,,global
7,rmse,39.60012,test,linear_reg,,global
8,mae,31.327088,test,linear_reg,,global
9,mape,23.040836,test,linear_reg,,global
10,smape,27.635643,test,linear_reg,,global
11,r_squared,-3.056121,test,linear_reg,,global
12,mda,42.857143,test,linear_reg,,global
13,durbin_watson,1.331925,train,linear_reg,,global
14,shapiro_wilk_stat,0.975183,train,linear_reg,,global
15,shapiro_wilk_p,0.484485,train,linear_reg,,global
16,ljung_box_stat,9.183702,train,linear_reg,,global
17,ljung_box_p,0.327037,train,linear_reg,,global
18,breusch_pagan_stat,1.903225,train,linear_reg,,global
19,breusch_pagan_p,0.592733,train,linear_reg,,global
20,formula,target ~ totaltar +mean_med_diesel_crack_input...,,linear_reg,,global
21,model_type,linear_reg,,linear_reg,,global
22,model_class,Lasso,,linear_reg,,global
23,n_obs_train,42,train,linear_reg,,global
24,train_start_date,2020-04-01T00:00:00.000000000,train,linear_reg,,global
25,train_end_date,2023-09-01T00:00:00.000000000,train,linear_reg,,global

In [121]:
from py_parsnip import gen_additive_mod

# Create specification with statsmodels engine
spec_gam  = gen_additive_mod()

# Fit model
fit_gam = spec_gam.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_gam = fit_gam.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_gam, coefs_gam, stats_gam = fit_gam.extract_outputs()
display(outputs_gam)
display(coefs_gam)
display(stats_gam)

Model fitted successfully!

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,100.416486,137.65,37.233514,train,gen_additive_mod,,global
1,2020-05-01,113.53,88.870157,113.53,24.659843,train,gen_additive_mod,,global
2,2020-06-01,43.31,81.534833,43.31,-38.224833,train,gen_additive_mod,,global
3,2020-07-01,79.77,78.245820,79.77,1.524180,train,gen_additive_mod,,global
4,2020-08-01,48.27,81.788009,48.27,-33.518009,train,gen_additive_mod,,global
5,2020-09-01,98.01,83.113151,98.01,14.896849,train,gen_additive_mod,,global
6,2020-10-01,49.77,83.700077,49.77,-33.930077,train,gen_additive_mod,,global
7,2020-11-01,35.48,83.529688,35.48,-48.049688,train,gen_additive_mod,,global
8,2020-12-01,63.98,80.368959,63.98,-16.388959,train,gen_additive_mod,,global
9,2021-01-01,109.76,83.355294,109.76,26.404706,train,gen_additive_mod,,global
10,2021-02-01,102.98,88.637720,102.98,14.342280,train,gen_additive_mod,,global
11,2021-03-01,123.83,91.581687,123.83,32.248313,train,gen_additive_mod,,global
12,2021-04-01,95.58,93.242593,95.58,2.337407,train,gen_additive_mod,,global
13,2021-05-01,127.21,100.308471,127.21,26.901529,train,gen_additive_mod,,global
14,2021-06-01,120.18,101.265386,120.18,18.914614,train,gen_additive_mod,,global
15,2021-07-01,88.43,104.895063,88.43,-16.465063,train,gen_additive_mod,,global
16,2021-08-01,97.76,106.500462,97.76,-8.740462,train,gen_additive_mod,,global
17,2021-09-01,126.47,105.232655,126.47,21.237345,train,gen_additive_mod,,global
18,2021-10-01,116.13,96.678238,116.13,19.451762,train,gen_additive_mod,,global
19,2021-11-01,127.87,103.293273,127.87,24.576727,train,gen_additive_mod,,global
20,2021-12-01,172.65,120.895142,172.65,51.754858,train,gen_additive_mod,,global
21,2022-01-01,102.65,114.830824,102.65,-12.180824,train,gen_additive_mod,,global
22,2022-02-01,80.90,107.509253,80.90,-26.609253,train,gen_additive_mod,,global
23,2022-03-01,80.75,108.846031,80.75,-28.096031,train,gen_additive_mod,,global
24,2022-04-01,118.19,113.161769,118.19,5.028231,train,gen_additive_mod,,global
25,2022-05-01,117.65,112.203011,117.65,5.446989,train,gen_additive_mod,,global
26,2022-06-01,93.37,103.976981,93.37,-10.606981,train,gen_additive_mod,,global
27,2022-07-01,98.66,113.655243,98.66,-14.995243,train,gen_additive_mod,,global
28,2022-08-01,100.28,106.782524,100.28,-6.502524,train,gen_additive_mod,,global
29,2022-09-01,30.00,27.654303,30.00,2.345697,train,gen_additive_mod,,global
30,2022-10-01,36.44,51.040093,36.44,-14.600093,train,gen_additive_mod,,global
31,2022-11-01,123.86,106.482255,123.86,17.377745,train,gen_additive_mod,,global
32,2022-12-01,118.99,124.071331,118.99,-5.081331,train,gen_additive_mod,,global
33,2023-01-01,87.88,123.741731,87.88,-35.861731,train,gen_additive_mod,,global
34,2023-02-01,90.00,124.770956,90.00,-34.770956,train,gen_additive_mod,,global
35,2023-03-01,190.24,124.073612,190.24,66.166388,train,gen_additive_mod,,global
36,2023-04-01,162.09,119.803964,162.09,42.286036,train,gen_additive_mod,,global
37,2023-05-01,84.99,112.986693,84.99,-27.996693,train,gen_additive_mod,,global
38,2023-06-01,70.18,107.765836,70.18,-37.585836,train,gen_additive_mod,,global
39,2023-07-01,131.09,104.029910,131.09,27.060090,train,gen_additive_mod,,global
40,2023-08-01,103.01,98.156468,103.01,4.853532,train,gen_additive_mod,,global
41,2023-09-01,58.37,95.214051,58.37,-36.844051,train,gen_additive_mod,,global
42,2023-10-01,107.65,95.217820,107.65,12.432180,test,gen_additive_mod,,global
43,2023-11-01,118.37,102.793880,118.37,15.576120,test,gen_additive_mod,,global
44,2023-12-01,113.03,109.145727,113.03,3.884273,test,gen_additive_mod,,global
45,2024-01-01,122.65,105.424197,122.65,17.225803,test,gen_additive_mod,,global
46,2024-02-01,129.09,114.771846,129.09,14.318154,test,gen_additive_mod,,global
47,2024-03-01,145.57,100.174092,145.57,45.395908,test,gen_additive_mod,,global
48,2024-04-01,158.23,92.856099,158.23,65.373901,test,gen_additive_mod,,global
49,2024-05-01,104.04,107.532422,104.04,-3.492422,test,gen_additive_mod,,global
50,2024-06-01,173.23,82.501910,173.23,90.728090,test,gen_additive_mod,,global
51,2024-07-01,126.20,71.377275,126.20,54.822725,test,gen_additive_mod,,global
52,2024-08-01,105.07,75.896991,105.07,29.173009,test,gen_additive_mod,,global
53,2024-09-01,127.01,80.874109,127.01,46.135891,test,gen_additive_mod,,global
54,2024-10-01,101.18,82.846909,101.18,18.333091,test,gen_additive_mod,,global
55,2024-11-01,123.50,77.623040,123.50,45.876960,test,gen_additive_mod,,global
56,2024-12-01,120.14,76.525142,120.14,43.614858,test,gen_additive_mod,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,Intercept,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,gen_additive_mod,,global
1,totaltar,95.202059,NaN,NaN,NaN,NaN,NaN,NaN,gen_additive_mod,,global
2,mean_med_diesel_crack_input1_trade_month_lag2,26.058629,NaN,NaN,NaN,NaN,NaN,NaN,gen_additive_mod,,global
3,mean_nwe_hsfo_crack_trade_month_lag1,36.878530,NaN,NaN,NaN,NaN,NaN,NaN,gen_additive_mod,,global

,metric,value,split,model,model_group_name,group
0,rmse,27.437815,train,gen_additive_mod,,global
1,mae,23.192792,train,gen_additive_mod,,global
2,mape,27.842869,train,gen_additive_mod,,global
3,smape,24.527053,train,gen_additive_mod,,global
4,r_squared,0.394363,train,gen_additive_mod,,global
5,mda,65.853659,train,gen_additive_mod,,global
6,adj_r_squared,0.219982,train,gen_additive_mod,,global
7,rmse,41.489347,test,gen_additive_mod,,global
8,mae,33.758892,test,gen_additive_mod,,global
9,mape,25.374214,test,gen_additive_mod,,global
10,smape,30.798963,test,gen_additive_mod,,global
11,r_squared,-3.452369,test,gen_additive_mod,,global
12,mda,35.714286,test,gen_additive_mod,,global
13,aic,674.641121,train,gen_additive_mod,,global
14,aicc,682.004017,train,gen_additive_mod,,global
15,gcv,1560.977331,train,gen_additive_mod,,global
16,pseudo_r2,0.394363,train,gen_additive_mod,,global
17,edof,9.166009,train,gen_additive_mod,,global
18,formula,target ~ totaltar +mean_med_diesel_crack_input...,,gen_additive_mod,,global
19,model_type,gen_additive_mod,,gen_additive_mod,,global
20,n_obs_train,42,train,gen_additive_mod,,global
21,n_features,4,,gen_additive_mod,,global
22,n_splines,10,,gen_additive_mod,,global
23,train_start_date,2020-04-01T00:00:00.000000000,train,gen_additive_mod,,global
24,train_end_date,2023-09-01T00:00:00.000000000,train,gen_additive_mod,,global

In [122]:
# from py_parsnip import arima_reg

# # Create specification with statsmodels engine
# spec_auto_arima  = arima_reg().set_engine("auto_arima")

# # Fit model
# fit_auto_arima = spec_auto_arima.fit(train_data, FORMULA_STR)

# # Evaluate on test set
# fit_auto_arima = fit_auto_arima.evaluate(test_data)

# print("Model fitted successfully!")

# # Extract outputs from both models
# outputs_auto_arima, coefs_auto_arima, stats_auto_arima = fit_auto_arima.extract_outputs()
# display(outputs_auto_arima)
# display(coefs_auto_arima)
# display(stats_auto_arima)

In [123]:
from py_parsnip import prophet_reg

# Create specification with statsmodels engine
spec_prophet  = prophet_reg()

# Fit model
fit_prophet = spec_prophet.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_prophet = fit_prophet.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_prophet, coefs_prophet, stats_prophet = fit_prophet.extract_outputs()
display(outputs_prophet)
display(coefs_prophet)
display(stats_prophet)

Model fitted successfully!

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,112.812329,137.65,24.837671,train,prophet_reg,,global
1,2020-05-01,113.53,115.589899,113.53,-2.059899,train,prophet_reg,,global
2,2020-06-01,43.31,66.349488,43.31,-23.039488,train,prophet_reg,,global
3,2020-07-01,79.77,70.154397,79.77,9.615603,train,prophet_reg,,global
4,2020-08-01,48.27,64.104879,48.27,-15.834879,train,prophet_reg,,global
5,2020-09-01,98.01,118.531915,98.01,-20.521915,train,prophet_reg,,global
6,2020-10-01,49.77,79.545138,49.77,-29.775138,train,prophet_reg,,global
7,2020-11-01,35.48,58.856986,35.48,-23.376986,train,prophet_reg,,global
8,2020-12-01,63.98,99.834320,63.98,-35.854320,train,prophet_reg,,global
9,2021-01-01,109.76,115.407468,109.76,-5.647468,train,prophet_reg,,global
10,2021-02-01,102.98,94.923774,102.98,8.056226,train,prophet_reg,,global
11,2021-03-01,123.83,90.737684,123.83,33.092316,train,prophet_reg,,global
12,2021-04-01,95.58,109.687263,95.58,-14.107263,train,prophet_reg,,global
13,2021-05-01,127.21,112.668580,127.21,14.541420,train,prophet_reg,,global
14,2021-06-01,120.18,77.503293,120.18,42.676707,train,prophet_reg,,global
15,2021-07-01,88.43,91.137194,88.43,-2.707194,train,prophet_reg,,global
16,2021-08-01,97.76,86.043911,97.76,11.716089,train,prophet_reg,,global
17,2021-09-01,126.47,101.787130,126.47,24.682870,train,prophet_reg,,global
18,2021-10-01,116.13,78.000448,116.13,38.129552,train,prophet_reg,,global
19,2021-11-01,127.87,106.673013,127.87,21.196987,train,prophet_reg,,global
20,2021-12-01,172.65,123.195722,172.65,49.454278,train,prophet_reg,,global
21,2022-01-01,102.65,104.023860,102.65,-1.373860,train,prophet_reg,,global
22,2022-02-01,80.90,96.649623,80.90,-15.749623,train,prophet_reg,,global
23,2022-03-01,80.75,133.007223,80.75,-52.257223,train,prophet_reg,,global
24,2022-04-01,118.19,140.596298,118.19,-22.406298,train,prophet_reg,,global
25,2022-05-01,117.65,114.111960,117.65,3.538040,train,prophet_reg,,global
26,2022-06-01,93.37,89.410335,93.37,3.959665,train,prophet_reg,,global
27,2022-07-01,98.66,111.412399,98.66,-12.752399,train,prophet_reg,,global
28,2022-08-01,100.28,77.151673,100.28,23.128327,train,prophet_reg,,global
29,2022-09-01,30.00,30.423146,30.00,-0.423146,train,prophet_reg,,global
30,2022-10-01,36.44,44.845930,36.44,-8.405930,train,prophet_reg,,global
31,2022-11-01,123.86,121.704381,123.86,2.155619,train,prophet_reg,,global
32,2022-12-01,118.99,132.545565,118.99,-13.555565,train,prophet_reg,,global
33,2023-01-01,87.88,80.781958,87.88,7.098042,train,prophet_reg,,global
34,2023-02-01,90.00,82.183791,90.00,7.816209,train,prophet_reg,,global
35,2023-03-01,190.24,170.989985,190.24,19.250015,train,prophet_reg,,global
36,2023-04-01,162.09,150.340921,162.09,11.749079,train,prophet_reg,,global
37,2023-05-01,84.99,101.049830,84.99,-16.059830,train,prophet_reg,,global
38,2023-06-01,70.18,93.854265,70.18,-23.674265,train,prophet_reg,,global
39,2023-07-01,131.09,125.332505,131.09,5.757495,train,prophet_reg,,global
40,2023-08-01,103.01,122.142278,103.01,-19.132278,train,prophet_reg,,global
41,2023-09-01,58.37,62.216232,58.37,-3.846232,train,prophet_reg,,global
42,2023-10-01,107.65,89.783451,107.65,17.866549,test,prophet_reg,,global
43,2023-11-01,118.37,198.684173,118.37,-80.314173,test,prophet_reg,,global
44,2023-12-01,113.03,150.094610,113.03,-37.064610,test,prophet_reg,,global
45,2024-01-01,122.65,61.991562,122.65,60.658438,test,prophet_reg,,global
46,2024-02-01,129.09,73.321601,129.09,55.768399,test,prophet_reg,,global
47,2024-03-01,145.57,80.466579,145.57,65.103421,test,prophet_reg,,global
48,2024-04-01,158.23,139.748595,158.23,18.481405,test,prophet_reg,,global
49,2024-05-01,104.04,149.734871,104.04,-45.694871,test,prophet_reg,,global
50,2024-06-01,173.23,95.115784,173.23,78.114216,test,prophet_reg,,global
51,2024-07-01,126.20,96.389636,126.20,29.810364,test,prophet_reg,,global
52,2024-08-01,105.07,89.556054,105.07,15.513946,test,prophet_reg,,global
53,2024-09-01,127.01,145.034239,127.01,-18.024239,test,prophet_reg,,global
54,2024-10-01,101.18,104.895176,101.18,-3.715176,test,prophet_reg,,global
55,2024-11-01,123.50,85.337923,123.50,38.162077,test,prophet_reg,,global
56,2024-12-01,120.14,126.574774,120.14,-6.434774,test,prophet_reg,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,growth,linear,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global
1,changepoint_prior_scale,0.05,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global
2,seasonality_prior_scale,10.0,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global
3,seasonality_mode,additive,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global
4,n_changepoints,25,NaN,NaN,NaN,NaN,NaN,NaN,prophet_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,21.537087,train,prophet_reg,,global
1,mae,17.262224,train,prophet_reg,,global
2,mape,19.910901,train,prophet_reg,,global
3,smape,18.557042,train,prophet_reg,,global
4,r_squared,0.626847,train,prophet_reg,,global
5,mda,80.487805,train,prophet_reg,,global
6,rmse,45.21693,test,prophet_reg,,global
7,mae,38.048444,test,prophet_reg,,global
8,mape,29.854629,test,prophet_reg,,global
9,smape,32.221975,test,prophet_reg,,global
10,r_squared,-4.288349,test,prophet_reg,,global
11,mda,57.142857,test,prophet_reg,,global
12,durbin_watson,1.224062,train,prophet_reg,,global
13,shapiro_wilk_stat,0.989399,train,prophet_reg,,global
14,shapiro_wilk_p,0.960487,train,prophet_reg,,global
15,ljung_box_stat,11.148505,train,prophet_reg,,global
16,ljung_box_p,0.193426,train,prophet_reg,,global
17,breusch_pagan_stat,NaN,train,prophet_reg,,global
18,breusch_pagan_p,NaN,train,prophet_reg,,global
19,formula,target ~ totaltar +mean_med_diesel_crack_input...,,prophet_reg,,global
20,model_type,prophet_reg,,prophet_reg,,global
21,growth,linear,,prophet_reg,,global
22,seasonality_mode,additive,,prophet_reg,,global
23,n_obs_train,42,train,prophet_reg,,global
24,train_start_date,2020-04-01T00:00:00.000000000,train,prophet_reg,,global
25,train_end_date,2023-09-01T00:00:00.000000000,train,prophet_reg,,global

In [124]:
from py_parsnip import exp_smoothing

# Create specification with statsmodels engine
spec_exp_smoothing  = exp_smoothing(error="add", trend="add", season="add", seasonal_period=12)

# Fit model
fit_exp_smoothing = spec_exp_smoothing.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_exp_smoothing = fit_exp_smoothing.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_exp_smoothing, coefs_exp_smoothing, stats_exp_smoothing = fit_exp_smoothing.extract_outputs()
display(outputs_exp_smoothing)
display(coefs_exp_smoothing)
display(stats_exp_smoothing)

Model fitted successfully!

/Users/matthewdeane/Documents/Data Science/python/_projects/py-tidymodels/py-tidymodels2/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,119.568266,137.65,18.081734,train,exp_smoothing,,global
1,2020-05-01,113.53,102.034604,113.53,11.495396,train,exp_smoothing,,global
2,2020-06-01,43.31,72.949596,43.31,-29.639596,train,exp_smoothing,,global
3,2020-07-01,79.77,90.679617,79.77,-10.909617,train,exp_smoothing,,global
4,2020-08-01,48.27,78.521668,48.27,-30.251668,train,exp_smoothing,,global
5,2020-09-01,98.01,69.405629,98.01,28.604371,train,exp_smoothing,,global
6,2020-10-01,49.77,61.577041,49.77,-11.807041,train,exp_smoothing,,global
7,2020-11-01,35.48,89.866576,35.48,-54.386576,train,exp_smoothing,,global
8,2020-12-01,63.98,112.668013,63.98,-48.688013,train,exp_smoothing,,global
9,2021-01-01,109.76,94.222961,109.76,15.537039,train,exp_smoothing,,global
10,2021-02-01,102.98,85.418430,102.98,17.561570,train,exp_smoothing,,global
11,2021-03-01,123.83,125.731261,123.83,-1.901261,train,exp_smoothing,,global
12,2021-04-01,95.58,125.440938,95.58,-29.860938,train,exp_smoothing,,global
13,2021-05-01,127.21,107.907275,127.21,19.302725,train,exp_smoothing,,global
14,2021-06-01,120.18,78.822268,120.18,41.357732,train,exp_smoothing,,global
15,2021-07-01,88.43,96.552290,88.43,-8.122290,train,exp_smoothing,,global
16,2021-08-01,97.76,84.394342,97.76,13.365658,train,exp_smoothing,,global
17,2021-09-01,126.47,75.278303,126.47,51.191697,train,exp_smoothing,,global
18,2021-10-01,116.13,67.449715,116.13,48.680285,train,exp_smoothing,,global
19,2021-11-01,127.87,95.739251,127.87,32.130749,train,exp_smoothing,,global
20,2021-12-01,172.65,118.540690,172.65,54.109310,train,exp_smoothing,,global
21,2022-01-01,102.65,100.095638,102.65,2.554362,train,exp_smoothing,,global
22,2022-02-01,80.90,91.291108,80.90,-10.391108,train,exp_smoothing,,global
23,2022-03-01,80.75,131.603938,80.75,-50.853938,train,exp_smoothing,,global
24,2022-04-01,118.19,131.313615,118.19,-13.123615,train,exp_smoothing,,global
25,2022-05-01,117.65,113.779952,117.65,3.870048,train,exp_smoothing,,global
26,2022-06-01,93.37,84.694944,93.37,8.675056,train,exp_smoothing,,global
27,2022-07-01,98.66,102.424966,98.66,-3.764966,train,exp_smoothing,,global
28,2022-08-01,100.28,90.267018,100.28,10.012982,train,exp_smoothing,,global
29,2022-09-01,30.00,81.150979,30.00,-51.150979,train,exp_smoothing,,global
30,2022-10-01,36.44,73.322390,36.44,-36.882390,train,exp_smoothing,,global
31,2022-11-01,123.86,101.611924,123.86,22.248076,train,exp_smoothing,,global
32,2022-12-01,118.99,124.413363,118.99,-5.423363,train,exp_smoothing,,global
33,2023-01-01,87.88,105.968311,87.88,-18.088311,train,exp_smoothing,,global
34,2023-02-01,90.00,97.163780,90.00,-7.163780,train,exp_smoothing,,global
35,2023-03-01,190.24,137.476610,190.24,52.763390,train,exp_smoothing,,global
36,2023-04-01,162.09,137.186288,162.09,24.903712,train,exp_smoothing,,global
37,2023-05-01,84.99,119.652626,84.99,-34.662626,train,exp_smoothing,,global
38,2023-06-01,70.18,90.567618,70.18,-20.387618,train,exp_smoothing,,global
39,2023-07-01,131.09,108.297639,131.09,22.792361,train,exp_smoothing,,global
40,2023-08-01,103.01,96.139691,103.01,6.870309,train,exp_smoothing,,global
41,2023-09-01,58.37,87.023653,58.37,-28.653653,train,exp_smoothing,,global
42,2023-10-01,107.65,79.195063,107.65,28.454937,test,exp_smoothing,,global
43,2023-11-01,118.37,107.484599,118.37,10.885401,test,exp_smoothing,,global
44,2023-12-01,113.03,130.286037,113.03,-17.256037,test,exp_smoothing,,global
45,2024-01-01,122.65,111.840985,122.65,10.809015,test,exp_smoothing,,global
46,2024-02-01,129.09,103.036454,129.09,26.053546,test,exp_smoothing,,global
47,2024-03-01,145.57,143.349285,145.57,2.220715,test,exp_smoothing,,global
48,2024-04-01,158.23,143.058962,158.23,15.171038,test,exp_smoothing,,global
49,2024-05-01,104.04,125.525299,104.04,-21.485299,test,exp_smoothing,,global
50,2024-06-01,173.23,96.440292,173.23,76.789708,test,exp_smoothing,,global
51,2024-07-01,126.20,114.170313,126.20,12.029687,test,exp_smoothing,,global
52,2024-08-01,105.07,102.012365,105.07,3.057635,test,exp_smoothing,,global
53,2024-09-01,127.01,92.896326,127.01,34.113674,test,exp_smoothing,,global
54,2024-10-01,101.18,85.067737,101.18,16.112263,test,exp_smoothing,,global
55,2024-11-01,123.50,113.357273,123.50,10.142727,test,exp_smoothing,,global
56,2024-12-01,120.14,136.158711,120.14,-16.018711,test,exp_smoothing,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,alpha (smoothing_level),1.490116e-08,NaN,NaN,NaN,NaN,NaN,NaN,exp_smoothing,,global
1,beta (smoothing_trend),0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,exp_smoothing,,global
2,gamma (smoothing_seasonal),0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,exp_smoothing,,global
3,phi (damping_trend),NaN,NaN,NaN,NaN,NaN,NaN,NaN,exp_smoothing,,global
4,l0 (initial_level),8.749568e+01,NaN,NaN,NaN,NaN,NaN,NaN,exp_smoothing,,global
5,b0 (initial_trend),4.893895e-01,NaN,NaN,NaN,NaN,NaN,NaN,exp_smoothing,,global

,metric,value,split,model,model_group_name,group
0,rmse,29.174087,train,exp_smoothing,,global
1,mae,24.100522,train,exp_smoothing,,global
2,mape,32.149773,train,exp_smoothing,,global
3,smape,26.919124,train,exp_smoothing,,global
4,r_squared,0.315289,train,exp_smoothing,,global
5,mda,68.292683,train,exp_smoothing,,global
6,rmse,26.522722,test,exp_smoothing,,global
7,mae,20.040026,test,exp_smoothing,,global
8,mape,15.517037,test,exp_smoothing,,global
9,smape,17.038668,test,exp_smoothing,,global
10,r_squared,-0.819509,test,exp_smoothing,,global
11,mda,42.857143,test,exp_smoothing,,global
12,durbin_watson,1.377127,train,exp_smoothing,,global
13,shapiro_wilk_stat,0.974541,train,exp_smoothing,,global
14,shapiro_wilk_p,0.46302,train,exp_smoothing,,global
15,ljung_box_stat,12.339158,train,exp_smoothing,,global
16,ljung_box_p,0.136701,train,exp_smoothing,,global
17,breusch_pagan_stat,NaN,train,exp_smoothing,,global
18,breusch_pagan_p,NaN,train,exp_smoothing,,global
19,formula,target ~ totaltar +mean_med_diesel_crack_input...,,exp_smoothing,,global
20,model_type,exp_smoothing,,exp_smoothing,,global
21,method,holt-winters,,exp_smoothing,,global
22,seasonal_period,12,,exp_smoothing,,global
23,error,add,,exp_smoothing,,global
24,trend,add,,exp_smoothing,,global
25,season,add,,exp_smoothing,,global
26,damping,False,,exp_smoothing,,global
27,aic,315.355595,,exp_smoothing,,global
28,bic,343.158309,,exp_smoothing,,global
29,n_obs_train,42,train,exp_smoothing,,global
30,train_start_date,2020-04-01T00:00:00.000000000,train,exp_smoothing,,global
31,train_end_date,2023-09-01T00:00:00.000000000,train,exp_smoothing,,global

In [125]:
from py_parsnip import arima_boost

# Create specification with statsmodels engine
spec_arima_boost  = arima_boost()

# Fit model
fit_arima_boost = spec_arima_boost.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_arima_boost = fit_arima_boost.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_arima_boost, coefs_arima_boost, stats_arima_boost = fit_arima_boost.extract_outputs()
display(outputs_arima_boost)
display(coefs_arima_boost)
display(stats_arima_boost)

/Users/matthewdeane/Documents/Data Science/python/_projects/py-tidymodels/py-tidymodels2/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)
/Users/matthewdeane/Documents/Data Science/python/_projects/py-tidymodels/py-tidymodels2/lib/python3.10/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency MS will be used.
  self._init_dates(dates, freq)

Model fitted successfully!

,date,actuals,arima_fitted,xgb_fitted,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,69.644426,66.296181,135.940607,137.65,1.709393,train,arima_boost,,global
1,2020-05-01,113.53,53.958858,60.213924,114.172782,113.53,-0.642782,train,arima_boost,,global
2,2020-06-01,43.31,43.831392,1.181154,45.012545,43.31,-1.702545,train,arima_boost,,global
3,2020-07-01,79.77,38.368178,41.388634,79.756812,79.77,0.013188,train,arima_boost,,global
4,2020-08-01,48.27,42.765946,5.786700,48.552646,48.27,-0.282646,train,arima_boost,,global
5,2020-09-01,98.01,44.227059,53.478550,97.705609,98.01,0.304391,train,arima_boost,,global
6,2020-10-01,49.77,44.438479,5.319664,49.758143,49.77,0.011857,train,arima_boost,,global
7,2020-11-01,35.48,44.562212,-7.320201,37.242012,35.48,-1.762012,train,arima_boost,,global
8,2020-12-01,63.98,38.231713,25.720531,63.952244,63.98,0.027756,train,arima_boost,,global
9,2021-01-01,109.76,44.892472,63.695606,108.588078,109.76,1.171922,train,arima_boost,,global
10,2021-02-01,102.98,-18.194687,120.513611,102.318924,102.98,0.661076,train,arima_boost,,global
11,2021-03-01,123.83,55.813522,66.766304,122.579826,123.83,1.250174,train,arima_boost,,global
12,2021-04-01,95.58,-19.934176,115.346970,95.412793,95.58,0.167207,train,arima_boost,,global
13,2021-05-01,127.21,69.491948,56.875530,126.367479,127.21,0.842521,train,arima_boost,,global
14,2021-06-01,120.18,70.789188,50.103111,120.892299,120.18,-0.712299,train,arima_boost,,global
15,2021-07-01,88.43,76.967934,14.365146,91.333080,88.43,-2.903080,train,arima_boost,,global
16,2021-08-01,97.76,80.622734,17.101366,97.724100,97.76,0.035900,train,arima_boost,,global
17,2021-09-01,126.47,79.866197,45.425243,125.291441,126.47,1.178559,train,arima_boost,,global
18,2021-10-01,116.13,75.106106,41.218353,116.324459,116.13,-0.194459,train,arima_boost,,global
19,2021-11-01,127.87,76.170808,50.820339,126.991147,127.87,0.878853,train,arima_boost,,global
20,2021-12-01,172.65,17.668521,154.577682,172.246203,172.65,0.403797,train,arima_boost,,global
21,2022-01-01,102.65,25.880920,76.571503,102.452423,102.65,0.197577,train,arima_boost,,global
22,2022-02-01,80.90,83.495665,-2.976815,80.518851,80.90,0.381149,train,arima_boost,,global
23,2022-03-01,80.75,91.010890,-7.817613,83.193278,80.75,-2.443278,train,arima_boost,,global
24,2022-04-01,118.19,108.776683,8.937649,117.714332,118.19,0.475668,train,arima_boost,,global
25,2022-05-01,117.65,34.768568,82.612808,117.381377,117.65,0.268623,train,arima_boost,,global
26,2022-06-01,93.37,112.101323,-18.617388,93.483935,93.37,-0.113935,train,arima_boost,,global
27,2022-07-01,98.66,133.441635,-34.444759,98.996876,98.66,-0.336876,train,arima_boost,,global
28,2022-08-01,100.28,1.834564,98.403114,100.237678,100.28,0.042322,train,arima_boost,,global
29,2022-09-01,30.00,119.142284,-87.976753,31.165531,30.00,-1.165531,train,arima_boost,,global
30,2022-10-01,36.44,-144.672924,180.452637,35.779713,36.44,0.660287,train,arima_boost,,global
31,2022-11-01,123.86,18.310954,105.456230,123.767184,123.86,0.092816,train,arima_boost,,global
32,2022-12-01,118.99,148.075382,-29.265127,118.810254,118.99,0.179746,train,arima_boost,,global
33,2023-01-01,87.88,136.622603,-48.541622,88.080981,87.88,-0.200981,train,arima_boost,,global
34,2023-02-01,90.00,123.424034,-31.915070,91.508964,90.00,-1.508964,train,arima_boost,,global
35,2023-03-01,190.24,122.550370,65.826530,188.376900,190.24,1.863100,train,arima_boost,,global
36,2023-04-01,162.09,113.610290,47.614086,161.224377,162.09,0.865623,train,arima_boost,,global
37,2023-05-01,84.99,96.073807,-11.132346,84.941461,84.99,0.048539,train,arima_boost,,global
38,2023-06-01,70.18,88.917202,-18.430239,70.486964,70.18,-0.306964,train,arima_boost,,global
39,2023-07-01,131.09,79.259766,50.343212,129.602978,131.09,1.487022,train,arima_boost,,global
40,2023-08-01,103.01,68.264974,36.590664,104.855638,103.01,-1.845638,train,arima_boost,,global
41,2023-09-01,58.37,45.547863,13.237481,58.785344,58.37,-0.415344,train,arima_boost,,global
42,2023-10-01,107.65,69.843987,59.117393,128.961381,107.65,-21.311381,test,arima_boost,,global
43,2023-11-01,118.37,87.934918,58.677597,146.612515,118.37,-28.242515,test,arima_boost,,global
44,2023-12-01,113.03,98.251517,-8.683515,89.568002,113.03,23.461998,test,arima_boost,,global
45,2024-01-01,122.65,86.988580,43.906944,130.895524,122.65,-8.245524,test,arima_boost,,global
46,2024-02-01,129.09,22.565547,22.810789,45.376336,129.09,83.713664,test,arima_boost,,global
47,2024-03-01,145.57,85.034682,-33.499737,51.534945,145.57,94.035055,test,arima_boost,,global
48,2024-04-01,158.23,21.197007,15.054237,36.251244,158.23,121.978756,test,arima_boost,,global
49,2024-05-01,104.04,93.267665,-5.221782,88.045883,104.04,15.994117,test,arima_boost,,global
50,2024-06-01,173.23,87.235467,28.733240,115.968707,173.23,57.261293,test,arima_boost,,global
51,2024-07-01,126.20,77.976869,55.846241,133.823110,126.20,-7.623110,test,arima_boost,,global
52,2024-08-01,105.07,75.579462,62.933399,138.512861,105.07,-33.442861,test,arima_boost,,global
53,2024-09-01,127.01,80.469588,57.093540,137.563128,127.01,-10.553128,test,arima_boost,,global
54,2024-10-01,101.18,79.129875,35.545727,114.675602,101.18,-13.495602,test,arima_boost,,global
55,2024-11-01,123.50,61.031859,18.337641,79.369499,123.50,44.130501,test,arima_boost,,global
56,2024-12-01,120.14,58.453004,14.054403,72.507407,120.14,47.632593,test,arima_boost,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,arima_totaltar,-0.047637,0.137863,-0.345539,7.296893e-01,NaN,NaN,NaN,arima_boost,,global
1,arima_mean_med_diesel_crack_input1_trade_month...,-0.706213,0.134381,-5.255296,1.477866e-07,NaN,NaN,NaN,arima_boost,,global
2,arima_mean_nwe_hsfo_crack_trade_month_lag1,-2.621992,0.557571,-4.702529,2.569593e-06,NaN,NaN,NaN,arima_boost,,global
3,arima_sigma2,4255.375062,1046.004270,4.068220,4.737373e-05,NaN,NaN,NaN,arima_boost,,global
4,xgb_n_estimators,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,arima_boost,,global
5,xgb_max_depth,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,arima_boost,,global
6,xgb_learning_rate,0.100000,NaN,NaN,NaN,NaN,NaN,NaN,arima_boost,,global
7,xgb_min_child_weight,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,arima_boost,,global
8,xgb_gamma,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,arima_boost,,global
9,xgb_subsample,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,arima_boost,,global
10,xgb_colsample_bytree,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,arima_boost,,global

,metric,value,split,model,model_group_name,group
0,rmse,1.043832,train,arima_boost,,global
1,mae,0.756105,train,arima_boost,,global
2,mape,0.939863,train,arima_boost,,global
3,smape,0.931641,train,arima_boost,,global
4,r_squared,0.999123,train,arima_boost,,global
5,mda,97.560976,train,arima_boost,,global
6,rmse,52.801972,test,arima_boost,,global
7,mae,40.741473,test,arima_boost,,global
8,mape,30.73324,test,arima_boost,,global
9,smape,39.25544,test,arima_boost,,global
10,r_squared,-6.211377,test,arima_boost,,global
11,mda,50.0,test,arima_boost,,global
12,formula,target ~ totaltar +mean_med_diesel_crack_input...,,arima_boost,,global
13,model_type,arima_boost,,arima_boost,,global
14,arima_order,"(0, 0, 0)",,arima_boost,,global
15,arima_seasonal_order,"(0, 0, 0, 0)",,arima_boost,,global
16,xgb_n_estimators,100,,arima_boost,,global
17,xgb_max_depth,6,,arima_boost,,global
18,xgb_learning_rate,0.1,,arima_boost,,global
19,arima_aic,466.94659,,arima_boost,,global
20,arima_bic,473.800878,,arima_boost,,global
21,n_obs_train,42,train,arima_boost,,global
22,train_start_date,2020-04-01T00:00:00.000000000,train,arima_boost,,global
23,train_end_date,2023-09-01T00:00:00.000000000,train,arima_boost,,global

In [126]:
from py_parsnip import prophet_boost

# Create specification with statsmodels engine
spec_prophet_boost  = prophet_boost(     
      seasonality_yearly=False,
      seasonality_weekly=False,
      seasonality_daily=False)   

# Fit model
fit_prophet_boost = spec_prophet_boost.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_prophet_boost = fit_prophet_boost.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_prophet_boost, coefs_prophet_boost, stats_prophet_boost = fit_prophet_boost.extract_outputs()
display(outputs_prophet_boost)
display(coefs_prophet_boost)
display(stats_prophet_boost)

Model fitted successfully!

,date,actuals,prophet_fitted,xgb_fitted,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,112.553041,24.644632,137.197673,137.65,0.452327,train,prophet_boost,,global
1,2020-05-01,113.53,122.000742,-8.389091,113.611651,113.53,-0.081651,train,prophet_boost,,global
2,2020-06-01,43.31,70.450176,-26.951851,43.498325,43.31,-0.188325,train,prophet_boost,,global
3,2020-07-01,79.77,71.641046,7.949687,79.590733,79.77,0.179267,train,prophet_boost,,global
4,2020-08-01,48.27,59.675524,-11.255198,48.420327,48.27,-0.150327,train,prophet_boost,,global
5,2020-09-01,98.01,109.218005,-11.491523,97.726482,98.01,0.283518,train,prophet_boost,,global
6,2020-10-01,49.77,75.128970,-25.275051,49.853919,49.77,-0.083919,train,prophet_boost,,global
7,2020-11-01,35.48,55.915862,-20.377525,35.538337,35.48,-0.058337,train,prophet_boost,,global
8,2020-12-01,63.98,96.949583,-32.496399,64.453184,63.98,-0.473184,train,prophet_boost,,global
9,2021-01-01,109.76,116.987087,-7.293860,109.693227,109.76,0.066773,train,prophet_boost,,global
10,2021-02-01,102.98,103.254199,-0.497162,102.757037,102.98,0.222963,train,prophet_boost,,global
11,2021-03-01,123.83,101.022125,22.600912,123.623037,123.83,0.206963,train,prophet_boost,,global
12,2021-04-01,95.58,123.344434,-27.387217,95.957218,95.58,-0.377218,train,prophet_boost,,global
13,2021-05-01,127.21,114.569706,12.661836,127.231541,127.21,-0.021541,train,prophet_boost,,global
14,2021-06-01,120.18,77.745535,42.438377,120.183912,120.18,-0.003912,train,prophet_boost,,global
15,2021-07-01,88.43,90.161431,-1.166130,88.995301,88.43,-0.565301,train,prophet_boost,,global
16,2021-08-01,97.76,78.476493,19.225939,97.702432,97.76,0.057568,train,prophet_boost,,global
17,2021-09-01,126.47,88.712382,37.676449,126.388831,126.47,0.081169,train,prophet_boost,,global
18,2021-10-01,116.13,67.154377,48.599342,115.753719,116.13,0.376281,train,prophet_boost,,global
19,2021-11-01,127.87,95.579725,32.234413,127.814138,127.87,0.055862,train,prophet_boost,,global
20,2021-12-01,172.65,118.789015,53.491306,172.280321,172.65,0.369679,train,prophet_boost,,global
21,2022-01-01,102.65,100.245433,2.448459,102.693892,102.65,-0.043892,train,prophet_boost,,global
22,2022-02-01,80.90,91.095904,-10.197625,80.898279,80.90,0.001721,train,prophet_boost,,global
23,2022-03-01,80.75,131.458886,-50.237869,81.221017,80.75,-0.471017,train,prophet_boost,,global
24,2022-04-01,118.19,133.725282,-15.239019,118.486262,118.19,-0.296262,train,prophet_boost,,global
25,2022-05-01,117.65,107.087194,10.505030,117.592223,117.65,0.057777,train,prophet_boost,,global
26,2022-06-01,93.37,85.372973,7.737744,93.110717,93.37,0.259283,train,prophet_boost,,global
27,2022-07-01,98.66,108.713319,-9.979262,98.734057,98.66,-0.074057,train,prophet_boost,,global
28,2022-08-01,100.28,96.702676,3.457770,100.160446,100.28,0.119554,train,prophet_boost,,global
29,2022-09-01,30.00,67.917984,-37.619045,30.298939,30.00,-0.298939,train,prophet_boost,,global
30,2022-10-01,36.44,60.045242,-23.571434,36.473808,36.44,-0.033808,train,prophet_boost,,global
31,2022-11-01,123.86,135.682793,-11.736665,123.946128,123.86,-0.086128,train,prophet_boost,,global
32,2022-12-01,118.99,139.825401,-20.777607,119.047794,118.99,-0.057794,train,prophet_boost,,global
33,2023-01-01,87.88,82.970081,4.863199,87.833280,87.88,0.046720,train,prophet_boost,,global
34,2023-02-01,90.00,79.413964,10.708244,90.122209,90.00,-0.122209,train,prophet_boost,,global
35,2023-03-01,190.24,162.129771,27.724810,189.854580,190.24,0.385420,train,prophet_boost,,global
36,2023-04-01,162.09,143.688489,18.149673,161.838162,162.09,0.251838,train,prophet_boost,,global
37,2023-05-01,84.99,99.568515,-14.466748,85.101767,84.99,-0.111767,train,prophet_boost,,global
38,2023-06-01,70.18,93.332240,-23.022783,70.309457,70.18,-0.129457,train,prophet_boost,,global
39,2023-07-01,131.09,127.280322,3.539347,130.819669,131.09,0.270331,train,prophet_boost,,global
40,2023-08-01,103.01,114.346458,-10.949419,103.397039,103.01,-0.387039,train,prophet_boost,,global
41,2023-09-01,58.37,46.868336,11.390221,58.258556,58.37,0.111444,train,prophet_boost,,global
42,2023-10-01,107.65,53.815030,1.857774,55.672805,107.65,51.977195,test,prophet_boost,,global
43,2023-11-01,118.37,176.185791,-0.986276,175.199515,118.37,-56.829515,test,prophet_boost,,global
44,2023-12-01,113.03,160.040436,-14.861559,145.178877,113.03,-32.148877,test,prophet_boost,,global
45,2024-01-01,122.65,65.189974,-2.713008,62.476966,122.65,60.173034,test,prophet_boost,,global
46,2024-02-01,129.09,68.232876,11.024021,79.256897,129.09,49.833103,test,prophet_boost,,global
47,2024-03-01,145.57,98.534693,-9.684778,88.849915,145.57,56.720085,test,prophet_boost,,global
48,2024-04-01,158.23,140.242853,10.983656,151.226509,158.23,7.003491,test,prophet_boost,,global
49,2024-05-01,104.04,149.690554,-35.478371,114.212183,104.04,-10.172183,test,prophet_boost,,global
50,2024-06-01,173.23,98.139987,-1.896045,96.243943,173.23,76.986057,test,prophet_boost,,global
51,2024-07-01,126.20,99.330858,2.118901,101.449759,126.20,24.750241,test,prophet_boost,,global
52,2024-08-01,105.07,87.365336,16.913485,104.278821,105.07,0.791179,test,prophet_boost,,global
53,2024-09-01,127.01,136.907816,2.737138,139.644954,127.01,-12.634954,test,prophet_boost,,global
54,2024-10-01,101.18,102.818782,12.392709,115.211491,101.18,-14.031491,test,prophet_boost,,global
55,2024-11-01,123.50,83.605674,23.326368,106.932042,123.50,16.567958,test,prophet_boost,,global
56,2024-12-01,120.14,124.639394,10.392610,135.032003,120.14,-14.892003,test,prophet_boost,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,prophet_growth,linear,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
1,prophet_changepoint_prior_scale,0.05,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
2,prophet_seasonality_prior_scale,10.0,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
3,prophet_seasonality_mode,additive,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
4,prophet_n_changepoints,25,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
5,prophet_changepoint_range,0.8,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
6,prophet_n_changepoints_detected,25,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
7,xgb_n_estimators,100,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
8,xgb_max_depth,6,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
9,xgb_learning_rate,0.1,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
10,xgb_min_child_weight,1,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
11,xgb_gamma,0.0,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
12,xgb_subsample,1.0,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global
13,xgb_colsample_bytree,1.0,NaN,NaN,NaN,NaN,NaN,NaN,prophet_boost,,global

,metric,value,split,model,model_group_name,group
0,rmse,0.242193,train,prophet_boost,,global
1,mae,0.189822,train,prophet_boost,,global
2,mape,0.21857,train,prophet_boost,,global
3,smape,0.21829,train,prophet_boost,,global
4,r_squared,0.999953,train,prophet_boost,,global
5,mda,97.560976,train,prophet_boost,,global
6,rmse,39.859288,test,prophet_boost,,global
7,mae,32.367424,test,prophet_boost,,global
8,mape,25.33341,test,prophet_boost,,global
9,smape,28.699086,test,prophet_boost,,global
10,r_squared,-3.109387,test,prophet_boost,,global
11,mda,57.142857,test,prophet_boost,,global
12,formula,target ~ totaltar +mean_med_diesel_crack_input...,,prophet_boost,,global
13,model_type,prophet_boost,,prophet_boost,,global
14,prophet_growth,linear,,prophet_boost,,global
15,prophet_seasonality_mode,additive,,prophet_boost,,global
16,xgb_n_estimators,100,,prophet_boost,,global
17,xgb_max_depth,6,,prophet_boost,,global
18,xgb_learning_rate,0.1,,prophet_boost,,global
19,n_obs_train,42,train,prophet_boost,,global
20,train_start_date,2020-04-01T00:00:00.000000000,train,prophet_boost,,global
21,train_end_date,2023-09-01T00:00:00.000000000,train,prophet_boost,,global

In [127]:
from py_parsnip import boost_tree   

# Create specification with statsmodels engine
spec_boost_tree  = boost_tree().set_engine("lightgbm")

# Fit model
fit_boost_tree = spec_boost_tree.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_boost_tree = fit_boost_tree.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_boost_tree, coefs_boost_tree, stats_boost_tree = fit_boost_tree.extract_outputs()
display(outputs_boost_tree)
display(coefs_boost_tree)
display(stats_boost_tree)

Model fitted successfully!

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,96.932889,137.65,40.717111,train,boost_tree,,global
1,2020-05-01,113.53,88.129225,113.53,25.400775,train,boost_tree,,global
2,2020-06-01,43.31,88.129225,43.31,-44.819225,train,boost_tree,,global
3,2020-07-01,79.77,88.129225,79.77,-8.359225,train,boost_tree,,global
4,2020-08-01,48.27,88.129225,48.27,-39.859225,train,boost_tree,,global
5,2020-09-01,98.01,88.129225,98.01,9.880775,train,boost_tree,,global
6,2020-10-01,49.77,88.129225,49.77,-38.359225,train,boost_tree,,global
7,2020-11-01,35.48,88.129225,35.48,-52.649225,train,boost_tree,,global
8,2020-12-01,63.98,88.129225,63.98,-24.149225,train,boost_tree,,global
9,2021-01-01,109.76,88.129225,109.76,21.630775,train,boost_tree,,global
10,2021-02-01,102.98,88.129225,102.98,14.850775,train,boost_tree,,global
11,2021-03-01,123.83,88.129225,123.83,35.700775,train,boost_tree,,global
12,2021-04-01,95.58,88.129225,95.58,7.450775,train,boost_tree,,global
13,2021-05-01,127.21,88.129225,127.21,39.080775,train,boost_tree,,global
14,2021-06-01,120.18,96.932889,120.18,23.247111,train,boost_tree,,global
15,2021-07-01,88.43,96.932889,88.43,-8.502889,train,boost_tree,,global
16,2021-08-01,97.76,96.932889,97.76,0.827111,train,boost_tree,,global
17,2021-09-01,126.47,109.880775,126.47,16.589225,train,boost_tree,,global
18,2021-10-01,116.13,96.932889,116.13,19.197111,train,boost_tree,,global
19,2021-11-01,127.87,101.077111,127.87,26.792889,train,boost_tree,,global
20,2021-12-01,172.65,101.077111,172.65,71.572889,train,boost_tree,,global
21,2022-01-01,102.65,101.077111,102.65,1.572889,train,boost_tree,,global
22,2022-02-01,80.90,109.880775,80.90,-28.980775,train,boost_tree,,global
23,2022-03-01,80.75,109.880775,80.75,-29.130775,train,boost_tree,,global
24,2022-04-01,118.19,109.880775,118.19,8.309225,train,boost_tree,,global
25,2022-05-01,117.65,101.077111,117.65,16.572889,train,boost_tree,,global
26,2022-06-01,93.37,109.880775,93.37,-16.510775,train,boost_tree,,global
27,2022-07-01,98.66,109.880775,98.66,-11.220775,train,boost_tree,,global
28,2022-08-01,100.28,96.932889,100.28,3.347111,train,boost_tree,,global
29,2022-09-01,30.00,109.880775,30.00,-79.880775,train,boost_tree,,global
30,2022-10-01,36.44,88.129225,36.44,-51.689225,train,boost_tree,,global
31,2022-11-01,123.86,96.932889,123.86,26.927111,train,boost_tree,,global
32,2022-12-01,118.99,109.880775,118.99,9.109225,train,boost_tree,,global
33,2023-01-01,87.88,109.880775,87.88,-22.000775,train,boost_tree,,global
34,2023-02-01,90.00,109.880775,90.00,-19.880775,train,boost_tree,,global
35,2023-03-01,190.24,109.880775,190.24,80.359225,train,boost_tree,,global
36,2023-04-01,162.09,109.880775,162.09,52.209225,train,boost_tree,,global
37,2023-05-01,84.99,109.880775,84.99,-24.890775,train,boost_tree,,global
38,2023-06-01,70.18,109.880775,70.18,-39.700775,train,boost_tree,,global
39,2023-07-01,131.09,101.077111,131.09,30.012889,train,boost_tree,,global
40,2023-08-01,103.01,101.077111,103.01,1.932889,train,boost_tree,,global
41,2023-09-01,58.37,101.077111,58.37,-42.707111,train,boost_tree,,global
42,2023-10-01,107.65,101.077111,107.65,6.572889,test,boost_tree,,global
43,2023-11-01,118.37,109.880775,118.37,8.489225,test,boost_tree,,global
44,2023-12-01,113.03,109.880775,113.03,3.149225,test,boost_tree,,global
45,2024-01-01,122.65,109.880775,122.65,12.769225,test,boost_tree,,global
46,2024-02-01,129.09,101.077111,129.09,28.012889,test,boost_tree,,global
47,2024-03-01,145.57,109.880775,145.57,35.689225,test,boost_tree,,global
48,2024-04-01,158.23,101.077111,158.23,57.152889,test,boost_tree,,global
49,2024-05-01,104.04,109.880775,104.04,-5.840775,test,boost_tree,,global
50,2024-06-01,173.23,109.880775,173.23,63.349225,test,boost_tree,,global
51,2024-07-01,126.20,101.077111,126.20,25.122889,test,boost_tree,,global
52,2024-08-01,105.07,101.077111,105.07,3.992889,test,boost_tree,,global
53,2024-09-01,127.01,101.077111,127.01,25.932889,test,boost_tree,,global
54,2024-10-01,101.18,109.880775,101.18,-8.700775,test,boost_tree,,global
55,2024-11-01,123.50,101.077111,123.50,22.422889,test,boost_tree,,global
56,2024-12-01,120.14,101.077111,120.14,19.062889,test,boost_tree,,global

,variable,importance,model,model_group_name,group
0,mean_med_diesel_crack_input1_trade_month_lag2,52,boost_tree,,global
1,mean_nwe_hsfo_crack_trade_month_lag1,48,boost_tree,,global
2,Intercept,0,boost_tree,,global
3,totaltar,0,boost_tree,,global

,metric,value,split,model,model_group_name,group
0,rmse,34.09723,train,boost_tree,,global
1,mae,27.775788,train,boost_tree,,global
2,mape,38.451064,train,boost_tree,,global
3,smape,30.102904,train,boost_tree,,global
4,r_squared,0.064699,train,boost_tree,,global
5,mda,51.219512,train,boost_tree,,global
6,rmse,28.19205,test,boost_tree,,global
7,mae,21.750719,test,boost_tree,,global
8,mape,15.849579,test,boost_tree,,global
9,smape,17.886132,test,boost_tree,,global
10,r_squared,-1.055754,test,boost_tree,,global
11,mda,42.857143,test,boost_tree,,global
12,formula,target ~ totaltar +mean_med_diesel_crack_input...,,boost_tree,,global
13,model_type,boost_tree,,boost_tree,,global
14,model_class,LGBMRegressor,,boost_tree,,global
15,n_obs_train,42,train,boost_tree,,global
16,n_trees,100,,boost_tree,,global
17,train_start_date,2020-04-01T00:00:00.000000000,train,boost_tree,,global
18,train_end_date,2023-09-01T00:00:00.000000000,train,boost_tree,,global

In [128]:
from py_parsnip import null_model

# Create specification with statsmodels engine
spec_null_model  = null_model(strategy="mean")

# Fit model
fit_null_model = spec_null_model.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_null_model = fit_null_model.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_null_model, coefs_null_model, stats_null_model = fit_null_model.extract_outputs()
display(outputs_null_model)
display(coefs_null_model)
display(stats_null_model)

Model fitted successfully!

,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,137.65,99.005,99.005,38.645,train,null_model,,global
1,113.53,99.005,99.005,14.525,train,null_model,,global
2,43.31,99.005,99.005,-55.695,train,null_model,,global
3,79.77,99.005,99.005,-19.235,train,null_model,,global
4,48.27,99.005,99.005,-50.735,train,null_model,,global
5,98.01,99.005,99.005,-0.995,train,null_model,,global
6,49.77,99.005,99.005,-49.235,train,null_model,,global
7,35.48,99.005,99.005,-63.525,train,null_model,,global
8,63.98,99.005,99.005,-35.025,train,null_model,,global
9,109.76,99.005,99.005,10.755,train,null_model,,global
10,102.98,99.005,99.005,3.975,train,null_model,,global
11,123.83,99.005,99.005,24.825,train,null_model,,global
12,95.58,99.005,99.005,-3.425,train,null_model,,global
13,127.21,99.005,99.005,28.205,train,null_model,,global
14,120.18,99.005,99.005,21.175,train,null_model,,global
15,88.43,99.005,99.005,-10.575,train,null_model,,global
16,97.76,99.005,99.005,-1.245,train,null_model,,global
17,126.47,99.005,99.005,27.465,train,null_model,,global
18,116.13,99.005,99.005,17.125,train,null_model,,global
19,127.87,99.005,99.005,28.865,train,null_model,,global
20,172.65,99.005,99.005,73.645,train,null_model,,global
21,102.65,99.005,99.005,3.645,train,null_model,,global
22,80.90,99.005,99.005,-18.105,train,null_model,,global
23,80.75,99.005,99.005,-18.255,train,null_model,,global
24,118.19,99.005,99.005,19.185,train,null_model,,global
25,117.65,99.005,99.005,18.645,train,null_model,,global
26,93.37,99.005,99.005,-5.635,train,null_model,,global
27,98.66,99.005,99.005,-0.345,train,null_model,,global
28,100.28,99.005,99.005,1.275,train,null_model,,global
29,30.00,99.005,99.005,-69.005,train,null_model,,global
30,36.44,99.005,99.005,-62.565,train,null_model,,global
31,123.86,99.005,99.005,24.855,train,null_model,,global
32,118.99,99.005,99.005,19.985,train,null_model,,global
33,87.88,99.005,99.005,-11.125,train,null_model,,global
34,90.00,99.005,99.005,-9.005,train,null_model,,global
35,190.24,99.005,99.005,91.235,train,null_model,,global
36,162.09,99.005,99.005,63.085,train,null_model,,global
37,84.99,99.005,99.005,-14.015,train,null_model,,global
38,70.18,99.005,99.005,-28.825,train,null_model,,global
39,131.09,99.005,99.005,32.085,train,null_model,,global
40,103.01,99.005,99.005,4.005,train,null_model,,global
41,58.37,99.005,99.005,-40.635,train,null_model,,global
42,107.65,99.005,99.005,8.645,test,null_model,,global
43,118.37,99.005,99.005,19.365,test,null_model,,global
44,113.03,99.005,99.005,14.025,test,null_model,,global
45,122.65,99.005,99.005,23.645,test,null_model,,global
46,129.09,99.005,99.005,30.085,test,null_model,,global
47,145.57,99.005,99.005,46.565,test,null_model,,global
48,158.23,99.005,99.005,59.225,test,null_model,,global
49,104.04,99.005,99.005,5.035,test,null_model,,global
50,173.23,99.005,99.005,74.225,test,null_model,,global
51,126.20,99.005,99.005,27.195,test,null_model,,global
52,105.07,99.005,99.005,6.065,test,null_model,,global
53,127.01,99.005,99.005,28.005,test,null_model,,global
54,101.18,99.005,99.005,2.175,test,null_model,,global
55,123.50,99.005,99.005,24.495,test,null_model,,global
56,120.14,99.005,99.005,21.135,test,null_model,,global

,variable,coefficient,std_error,p_value,ci_0.025,ci_0.975,model,model_group_name,group
0,(Intercept),99.005,NaN,NaN,NaN,NaN,null_model,,global

,metric,value,split,model,model_group_name,group
0,rmse,35.256848,train,null_model,,global
1,mae,27.009762,train,null_model,,global
2,mape,38.484528,train,null_model,,global
3,r_squared,0.0,train,null_model,,global
4,baseline_value,99.005,train,null_model,,global
5,rmse,32.591708,test,null_model,,global
6,mae,25.992333,test,null_model,,global
7,mape,19.028925,test,null_model,,global
8,r_squared,-1.747465,test,null_model,,global
9,train_start_date,2020-04-01T00:00:00.000000000,train,null_model,,global
10,train_end_date,2023-09-01T00:00:00.000000000,train,null_model,,global

In [129]:
from py_parsnip import naive_reg

# Create specification with statsmodels engine
spec_naive_model  = naive_reg(strategy="naive")

# Fit model
fit_naive_model = spec_naive_model.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_naive_model = fit_naive_model.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_naive_model, coefs_naive_model, stats_naive_model = fit_naive_model.extract_outputs()
display(outputs_naive_model)
display(coefs_naive_model)
display(stats_naive_model)

Model fitted successfully!

,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,137.65,137.65,137.65,0.00,train,naive_reg,,global
1,113.53,137.65,137.65,-24.12,train,naive_reg,,global
2,43.31,113.53,113.53,-70.22,train,naive_reg,,global
3,79.77,43.31,43.31,36.46,train,naive_reg,,global
4,48.27,79.77,79.77,-31.50,train,naive_reg,,global
5,98.01,48.27,48.27,49.74,train,naive_reg,,global
6,49.77,98.01,98.01,-48.24,train,naive_reg,,global
7,35.48,49.77,49.77,-14.29,train,naive_reg,,global
8,63.98,35.48,35.48,28.50,train,naive_reg,,global
9,109.76,63.98,63.98,45.78,train,naive_reg,,global
10,102.98,109.76,109.76,-6.78,train,naive_reg,,global
11,123.83,102.98,102.98,20.85,train,naive_reg,,global
12,95.58,123.83,123.83,-28.25,train,naive_reg,,global
13,127.21,95.58,95.58,31.63,train,naive_reg,,global
14,120.18,127.21,127.21,-7.03,train,naive_reg,,global
15,88.43,120.18,120.18,-31.75,train,naive_reg,,global
16,97.76,88.43,88.43,9.33,train,naive_reg,,global
17,126.47,97.76,97.76,28.71,train,naive_reg,,global
18,116.13,126.47,126.47,-10.34,train,naive_reg,,global
19,127.87,116.13,116.13,11.74,train,naive_reg,,global
20,172.65,127.87,127.87,44.78,train,naive_reg,,global
21,102.65,172.65,172.65,-70.00,train,naive_reg,,global
22,80.90,102.65,102.65,-21.75,train,naive_reg,,global
23,80.75,80.90,80.90,-0.15,train,naive_reg,,global
24,118.19,80.75,80.75,37.44,train,naive_reg,,global
25,117.65,118.19,118.19,-0.54,train,naive_reg,,global
26,93.37,117.65,117.65,-24.28,train,naive_reg,,global
27,98.66,93.37,93.37,5.29,train,naive_reg,,global
28,100.28,98.66,98.66,1.62,train,naive_reg,,global
29,30.00,100.28,100.28,-70.28,train,naive_reg,,global
30,36.44,30.00,30.00,6.44,train,naive_reg,,global
31,123.86,36.44,36.44,87.42,train,naive_reg,,global
32,118.99,123.86,123.86,-4.87,train,naive_reg,,global
33,87.88,118.99,118.99,-31.11,train,naive_reg,,global
34,90.00,87.88,87.88,2.12,train,naive_reg,,global
35,190.24,90.00,90.00,100.24,train,naive_reg,,global
36,162.09,190.24,190.24,-28.15,train,naive_reg,,global
37,84.99,162.09,162.09,-77.10,train,naive_reg,,global
38,70.18,84.99,84.99,-14.81,train,naive_reg,,global
39,131.09,70.18,70.18,60.91,train,naive_reg,,global
40,103.01,131.09,131.09,-28.08,train,naive_reg,,global
41,58.37,103.01,103.01,-44.64,train,naive_reg,,global
42,107.65,58.37,58.37,49.28,test,naive_reg,,global
43,118.37,58.37,58.37,60.00,test,naive_reg,,global
44,113.03,58.37,58.37,54.66,test,naive_reg,,global
45,122.65,58.37,58.37,64.28,test,naive_reg,,global
46,129.09,58.37,58.37,70.72,test,naive_reg,,global
47,145.57,58.37,58.37,87.20,test,naive_reg,,global
48,158.23,58.37,58.37,99.86,test,naive_reg,,global
49,104.04,58.37,58.37,45.67,test,naive_reg,,global
50,173.23,58.37,58.37,114.86,test,naive_reg,,global
51,126.20,58.37,58.37,67.83,test,naive_reg,,global
52,105.07,58.37,58.37,46.70,test,naive_reg,,global
53,127.01,58.37,58.37,68.64,test,naive_reg,,global
54,101.18,58.37,58.37,42.81,test,naive_reg,,global
55,123.50,58.37,58.37,65.13,test,naive_reg,,global
56,120.14,58.37,58.37,61.77,test,naive_reg,,global

,variable,coefficient,std_error,p_value,ci_0.025,ci_0.975,model,model_group_name,group
0,strategy,naive,NaN,NaN,NaN,NaN,naive_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,39.867462,train,naive_reg,,global
1,mae,30.887619,train,naive_reg,,global
2,mape,38.600982,train,naive_reg,,global
3,r_squared,-0.278646,train,naive_reg,,global
4,strategy,naive,train,naive_reg,,global
5,rmse,69.468119,test,naive_reg,,global
6,mae,66.627333,test,naive_reg,,global
7,mape,52.262193,test,naive_reg,,global
8,r_squared,-11.482139,test,naive_reg,,global
9,train_start_date,2020-04-01T00:00:00.000000000,train,naive_reg,,global
10,train_end_date,2023-09-01T00:00:00.000000000,train,naive_reg,,global

In [130]:
from py_parsnip import naive_reg

# Create specification with statsmodels engine
spec_naive_model  = naive_reg(strategy="seasonal_naive", seasonal_period=12)

# Fit model
fit_naive_model = spec_naive_model.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_naive_model = fit_naive_model.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_naive_model, coefs_naive_model, stats_naive_model = fit_naive_model.extract_outputs()
display(outputs_naive_model)
display(coefs_naive_model)
display(stats_naive_model)

Model fitted successfully!

,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,137.65,137.65,137.65,0.00,train,naive_reg,,global
1,113.53,113.53,113.53,0.00,train,naive_reg,,global
2,43.31,43.31,43.31,0.00,train,naive_reg,,global
3,79.77,79.77,79.77,0.00,train,naive_reg,,global
4,48.27,48.27,48.27,0.00,train,naive_reg,,global
5,98.01,98.01,98.01,0.00,train,naive_reg,,global
6,49.77,49.77,49.77,0.00,train,naive_reg,,global
7,35.48,35.48,35.48,0.00,train,naive_reg,,global
8,63.98,63.98,63.98,0.00,train,naive_reg,,global
9,109.76,109.76,109.76,0.00,train,naive_reg,,global
10,102.98,102.98,102.98,0.00,train,naive_reg,,global
11,123.83,123.83,123.83,0.00,train,naive_reg,,global
12,95.58,137.65,137.65,-42.07,train,naive_reg,,global
13,127.21,113.53,113.53,13.68,train,naive_reg,,global
14,120.18,43.31,43.31,76.87,train,naive_reg,,global
15,88.43,79.77,79.77,8.66,train,naive_reg,,global
16,97.76,48.27,48.27,49.49,train,naive_reg,,global
17,126.47,98.01,98.01,28.46,train,naive_reg,,global
18,116.13,49.77,49.77,66.36,train,naive_reg,,global
19,127.87,35.48,35.48,92.39,train,naive_reg,,global
20,172.65,63.98,63.98,108.67,train,naive_reg,,global
21,102.65,109.76,109.76,-7.11,train,naive_reg,,global
22,80.90,102.98,102.98,-22.08,train,naive_reg,,global
23,80.75,123.83,123.83,-43.08,train,naive_reg,,global
24,118.19,95.58,95.58,22.61,train,naive_reg,,global
25,117.65,127.21,127.21,-9.56,train,naive_reg,,global
26,93.37,120.18,120.18,-26.81,train,naive_reg,,global
27,98.66,88.43,88.43,10.23,train,naive_reg,,global
28,100.28,97.76,97.76,2.52,train,naive_reg,,global
29,30.00,126.47,126.47,-96.47,train,naive_reg,,global
30,36.44,116.13,116.13,-79.69,train,naive_reg,,global
31,123.86,127.87,127.87,-4.01,train,naive_reg,,global
32,118.99,172.65,172.65,-53.66,train,naive_reg,,global
33,87.88,102.65,102.65,-14.77,train,naive_reg,,global
34,90.00,80.90,80.90,9.10,train,naive_reg,,global
35,190.24,80.75,80.75,109.49,train,naive_reg,,global
36,162.09,118.19,118.19,43.90,train,naive_reg,,global
37,84.99,117.65,117.65,-32.66,train,naive_reg,,global
38,70.18,93.37,93.37,-23.19,train,naive_reg,,global
39,131.09,98.66,98.66,32.43,train,naive_reg,,global
40,103.01,100.28,100.28,2.73,train,naive_reg,,global
41,58.37,30.00,30.00,28.37,train,naive_reg,,global
42,107.65,36.44,36.44,71.21,test,naive_reg,,global
43,118.37,123.86,123.86,-5.49,test,naive_reg,,global
44,113.03,118.99,118.99,-5.96,test,naive_reg,,global
45,122.65,87.88,87.88,34.77,test,naive_reg,,global
46,129.09,90.00,90.00,39.09,test,naive_reg,,global
47,145.57,190.24,190.24,-44.67,test,naive_reg,,global
48,158.23,162.09,162.09,-3.86,test,naive_reg,,global
49,104.04,84.99,84.99,19.05,test,naive_reg,,global
50,173.23,70.18,70.18,103.05,test,naive_reg,,global
51,126.20,131.09,131.09,-4.89,test,naive_reg,,global
52,105.07,103.01,103.01,2.06,test,naive_reg,,global
53,127.01,58.37,58.37,68.64,test,naive_reg,,global
54,101.18,36.44,36.44,64.74,test,naive_reg,,global
55,123.50,123.86,123.86,-0.36,test,naive_reg,,global
56,120.14,118.99,118.99,1.15,test,naive_reg,,global

,variable,coefficient,std_error,p_value,ci_0.025,ci_0.975,model,model_group_name,group
0,strategy,seasonal_naive,NaN,NaN,NaN,NaN,naive_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,42.541986,train,naive_reg,,global
1,mae,27.645714,train,naive_reg,,global
2,mape,33.286186,train,naive_reg,,global
3,r_squared,-0.455957,train,naive_reg,,global
4,strategy,seasonal_naive,train,naive_reg,,global
5,rmse,44.570802,test,naive_reg,,global
6,mae,31.266,test,naive_reg,,global
7,mape,24.715076,test,naive_reg,,global
8,r_squared,-4.138292,test,naive_reg,,global
9,train_start_date,2020-04-01T00:00:00.000000000,train,naive_reg,,global
10,train_end_date,2023-09-01T00:00:00.000000000,train,naive_reg,,global

In [131]:
from py_parsnip import naive_reg

# Create specification with statsmodels engine
spec_naive_model  = naive_reg(strategy="drift")

# Fit model
fit_naive_model = spec_naive_model.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_naive_model = fit_naive_model.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_naive_model, coefs_naive_model, stats_naive_model = fit_naive_model.extract_outputs()
display(outputs_naive_model)
display(coefs_naive_model)
display(stats_naive_model)

Model fitted successfully!

,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,137.65,137.650000,137.650000,0.000000,train,naive_reg,,global
1,113.53,135.716341,135.716341,-22.186341,train,naive_reg,,global
2,43.31,111.596341,111.596341,-68.286341,train,naive_reg,,global
3,79.77,41.376341,41.376341,38.393659,train,naive_reg,,global
4,48.27,77.836341,77.836341,-29.566341,train,naive_reg,,global
5,98.01,46.336341,46.336341,51.673659,train,naive_reg,,global
6,49.77,96.076341,96.076341,-46.306341,train,naive_reg,,global
7,35.48,47.836341,47.836341,-12.356341,train,naive_reg,,global
8,63.98,33.546341,33.546341,30.433659,train,naive_reg,,global
9,109.76,62.046341,62.046341,47.713659,train,naive_reg,,global
10,102.98,107.826341,107.826341,-4.846341,train,naive_reg,,global
11,123.83,101.046341,101.046341,22.783659,train,naive_reg,,global
12,95.58,121.896341,121.896341,-26.316341,train,naive_reg,,global
13,127.21,93.646341,93.646341,33.563659,train,naive_reg,,global
14,120.18,125.276341,125.276341,-5.096341,train,naive_reg,,global
15,88.43,118.246341,118.246341,-29.816341,train,naive_reg,,global
16,97.76,86.496341,86.496341,11.263659,train,naive_reg,,global
17,126.47,95.826341,95.826341,30.643659,train,naive_reg,,global
18,116.13,124.536341,124.536341,-8.406341,train,naive_reg,,global
19,127.87,114.196341,114.196341,13.673659,train,naive_reg,,global
20,172.65,125.936341,125.936341,46.713659,train,naive_reg,,global
21,102.65,170.716341,170.716341,-68.066341,train,naive_reg,,global
22,80.90,100.716341,100.716341,-19.816341,train,naive_reg,,global
23,80.75,78.966341,78.966341,1.783659,train,naive_reg,,global
24,118.19,78.816341,78.816341,39.373659,train,naive_reg,,global
25,117.65,116.256341,116.256341,1.393659,train,naive_reg,,global
26,93.37,115.716341,115.716341,-22.346341,train,naive_reg,,global
27,98.66,91.436341,91.436341,7.223659,train,naive_reg,,global
28,100.28,96.726341,96.726341,3.553659,train,naive_reg,,global
29,30.00,98.346341,98.346341,-68.346341,train,naive_reg,,global
30,36.44,28.066341,28.066341,8.373659,train,naive_reg,,global
31,123.86,34.506341,34.506341,89.353659,train,naive_reg,,global
32,118.99,121.926341,121.926341,-2.936341,train,naive_reg,,global
33,87.88,117.056341,117.056341,-29.176341,train,naive_reg,,global
34,90.00,85.946341,85.946341,4.053659,train,naive_reg,,global
35,190.24,88.066341,88.066341,102.173659,train,naive_reg,,global
36,162.09,188.306341,188.306341,-26.216341,train,naive_reg,,global
37,84.99,160.156341,160.156341,-75.166341,train,naive_reg,,global
38,70.18,83.056341,83.056341,-12.876341,train,naive_reg,,global
39,131.09,68.246341,68.246341,62.843659,train,naive_reg,,global
40,103.01,129.156341,129.156341,-26.146341,train,naive_reg,,global
41,58.37,101.076341,101.076341,-42.706341,train,naive_reg,,global
42,107.65,56.436341,56.436341,51.213659,test,naive_reg,,global
43,118.37,54.502683,54.502683,63.867317,test,naive_reg,,global
44,113.03,52.569024,52.569024,60.460976,test,naive_reg,,global
45,122.65,50.635366,50.635366,72.014634,test,naive_reg,,global
46,129.09,48.701707,48.701707,80.388293,test,naive_reg,,global
47,145.57,46.768049,46.768049,98.801951,test,naive_reg,,global
48,158.23,44.834390,44.834390,113.395610,test,naive_reg,,global
49,104.04,42.900732,42.900732,61.139268,test,naive_reg,,global
50,173.23,40.967073,40.967073,132.262927,test,naive_reg,,global
51,126.20,39.033415,39.033415,87.166585,test,naive_reg,,global
52,105.07,37.099756,37.099756,67.970244,test,naive_reg,,global
53,127.01,35.166098,35.166098,91.843902,test,naive_reg,,global
54,101.18,33.232439,33.232439,67.947561,test,naive_reg,,global
55,123.50,31.298780,31.298780,92.201220,test,naive_reg,,global
56,120.14,29.365122,29.365122,90.774878,test,naive_reg,,global

,variable,coefficient,std_error,p_value,ci_0.025,ci_0.975,model,model_group_name,group
0,strategy,drift,NaN,NaN,NaN,NaN,naive_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,39.821659,train,naive_reg,,global
1,mae,30.808722,train,naive_reg,,global
2,mape,38.155328,train,naive_reg,,global
3,r_squared,-0.275709,train,naive_reg,,global
4,strategy,drift,train,naive_reg,,global
5,rmse,84.801318,test,naive_reg,,global
6,mae,82.096602,test,naive_reg,,global
7,mape,64.940391,test,naive_reg,,global
8,r_squared,-17.600436,test,naive_reg,,global
9,train_start_date,2020-04-01T00:00:00.000000000,train,naive_reg,,global
10,train_end_date,2023-09-01T00:00:00.000000000,train,naive_reg,,global

In [132]:
from py_parsnip import null_model

# Create specification with statsmodels engine
spec_null_model  = null_model(strategy="mean")

# Fit model
fit_null_model = spec_null_model.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_null_model = fit_null_model.evaluate(test_data)

print("Model fitted successfully!")

# Extract outputs from both models
outputs_null_model, coefs_null_model, stats_null_model = fit_null_model.extract_outputs()
display(outputs_null_model)
display(coefs_null_model)
display(stats_null_model)

Model fitted successfully!

,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,137.65,99.005,99.005,38.645,train,null_model,,global
1,113.53,99.005,99.005,14.525,train,null_model,,global
2,43.31,99.005,99.005,-55.695,train,null_model,,global
3,79.77,99.005,99.005,-19.235,train,null_model,,global
4,48.27,99.005,99.005,-50.735,train,null_model,,global
5,98.01,99.005,99.005,-0.995,train,null_model,,global
6,49.77,99.005,99.005,-49.235,train,null_model,,global
7,35.48,99.005,99.005,-63.525,train,null_model,,global
8,63.98,99.005,99.005,-35.025,train,null_model,,global
9,109.76,99.005,99.005,10.755,train,null_model,,global
10,102.98,99.005,99.005,3.975,train,null_model,,global
11,123.83,99.005,99.005,24.825,train,null_model,,global
12,95.58,99.005,99.005,-3.425,train,null_model,,global
13,127.21,99.005,99.005,28.205,train,null_model,,global
14,120.18,99.005,99.005,21.175,train,null_model,,global
15,88.43,99.005,99.005,-10.575,train,null_model,,global
16,97.76,99.005,99.005,-1.245,train,null_model,,global
17,126.47,99.005,99.005,27.465,train,null_model,,global
18,116.13,99.005,99.005,17.125,train,null_model,,global
19,127.87,99.005,99.005,28.865,train,null_model,,global
20,172.65,99.005,99.005,73.645,train,null_model,,global
21,102.65,99.005,99.005,3.645,train,null_model,,global
22,80.90,99.005,99.005,-18.105,train,null_model,,global
23,80.75,99.005,99.005,-18.255,train,null_model,,global
24,118.19,99.005,99.005,19.185,train,null_model,,global
25,117.65,99.005,99.005,18.645,train,null_model,,global
26,93.37,99.005,99.005,-5.635,train,null_model,,global
27,98.66,99.005,99.005,-0.345,train,null_model,,global
28,100.28,99.005,99.005,1.275,train,null_model,,global
29,30.00,99.005,99.005,-69.005,train,null_model,,global
30,36.44,99.005,99.005,-62.565,train,null_model,,global
31,123.86,99.005,99.005,24.855,train,null_model,,global
32,118.99,99.005,99.005,19.985,train,null_model,,global
33,87.88,99.005,99.005,-11.125,train,null_model,,global
34,90.00,99.005,99.005,-9.005,train,null_model,,global
35,190.24,99.005,99.005,91.235,train,null_model,,global
36,162.09,99.005,99.005,63.085,train,null_model,,global
37,84.99,99.005,99.005,-14.015,train,null_model,,global
38,70.18,99.005,99.005,-28.825,train,null_model,,global
39,131.09,99.005,99.005,32.085,train,null_model,,global
40,103.01,99.005,99.005,4.005,train,null_model,,global
41,58.37,99.005,99.005,-40.635,train,null_model,,global
42,107.65,99.005,99.005,8.645,test,null_model,,global
43,118.37,99.005,99.005,19.365,test,null_model,,global
44,113.03,99.005,99.005,14.025,test,null_model,,global
45,122.65,99.005,99.005,23.645,test,null_model,,global
46,129.09,99.005,99.005,30.085,test,null_model,,global
47,145.57,99.005,99.005,46.565,test,null_model,,global
48,158.23,99.005,99.005,59.225,test,null_model,,global
49,104.04,99.005,99.005,5.035,test,null_model,,global
50,173.23,99.005,99.005,74.225,test,null_model,,global
51,126.20,99.005,99.005,27.195,test,null_model,,global
52,105.07,99.005,99.005,6.065,test,null_model,,global
53,127.01,99.005,99.005,28.005,test,null_model,,global
54,101.18,99.005,99.005,2.175,test,null_model,,global
55,123.50,99.005,99.005,24.495,test,null_model,,global
56,120.14,99.005,99.005,21.135,test,null_model,,global

,variable,coefficient,std_error,p_value,ci_0.025,ci_0.975,model,model_group_name,group
0,(Intercept),99.005,NaN,NaN,NaN,NaN,null_model,,global

,metric,value,split,model,model_group_name,group
0,rmse,35.256848,train,null_model,,global
1,mae,27.009762,train,null_model,,global
2,mape,38.484528,train,null_model,,global
3,r_squared,0.0,train,null_model,,global
4,baseline_value,99.005,train,null_model,,global
5,rmse,32.591708,test,null_model,,global
6,mae,25.992333,test,null_model,,global
7,mape,19.028925,test,null_model,,global
8,r_squared,-1.747465,test,null_model,,global
9,train_start_date,2020-04-01T00:00:00.000000000,train,null_model,,global
10,train_end_date,2023-09-01T00:00:00.000000000,train,null_model,,global

## Hybrid Model

Combine two models with different strategies (residual, sequential, weighted)

In [133]:
from py_parsnip import hybrid_model, linear_reg, rand_forest

# Create specification - combine linear regression with random forest
# Strategy: 'residual' trains model2 on residuals from model1
spec_hybrid_model = hybrid_model(
    model1=linear_reg(),
    model2=rand_forest().set_mode('regression'),
    strategy='residual'
)

# Fit model
fit_hybrid_model = spec_hybrid_model.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_hybrid_model = fit_hybrid_model.evaluate(test_data)

print("Hybrid model fitted successfully!")

# Extract outputs from hybrid model
outputs_hybrid_model, coefs_hybrid_model, stats_hybrid_model = fit_hybrid_model.extract_outputs()
display(outputs_hybrid_model)
display(coefs_hybrid_model)
display(stats_hybrid_model)

Hybrid model fitted successfully!

,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,137.65,121.965105,137.65,15.684895,train,hybrid_model,,global
1,113.53,107.662008,113.53,5.867992,train,hybrid_model,,global
2,43.31,64.574786,43.31,-21.264786,train,hybrid_model,,global
3,79.77,81.405328,79.77,-1.635328,train,hybrid_model,,global
4,48.27,68.747004,48.27,-20.477004,train,hybrid_model,,global
5,98.01,79.830918,98.01,18.179082,train,hybrid_model,,global
6,49.77,51.930795,49.77,-2.160795,train,hybrid_model,,global
7,35.48,49.438923,35.48,-13.958923,train,hybrid_model,,global
8,63.98,64.076147,63.98,-0.096147,train,hybrid_model,,global
9,109.76,100.198090,109.76,9.561910,train,hybrid_model,,global
10,102.98,95.874454,102.98,7.105546,train,hybrid_model,,global
11,123.83,113.213735,123.83,10.616265,train,hybrid_model,,global
12,95.58,90.167659,95.58,5.412341,train,hybrid_model,,global
13,127.21,119.922098,127.21,7.287902,train,hybrid_model,,global
14,120.18,121.506957,120.18,-1.326957,train,hybrid_model,,global
15,88.43,102.968531,88.43,-14.538531,train,hybrid_model,,global
16,97.76,103.011887,97.76,-5.251887,train,hybrid_model,,global
17,126.47,120.533018,126.47,5.936982,train,hybrid_model,,global
18,116.13,116.119421,116.13,0.010579,train,hybrid_model,,global
19,127.87,125.744687,127.87,2.125313,train,hybrid_model,,global
20,172.65,142.487700,172.65,30.162300,train,hybrid_model,,global
21,102.65,110.362873,102.65,-7.712873,train,hybrid_model,,global
22,80.90,86.812855,80.90,-5.912855,train,hybrid_model,,global
23,80.75,89.411846,80.75,-8.661846,train,hybrid_model,,global
24,118.19,111.684563,118.19,6.505437,train,hybrid_model,,global
25,117.65,125.711993,117.65,-8.061993,train,hybrid_model,,global
26,93.37,96.714614,93.37,-3.344614,train,hybrid_model,,global
27,98.66,105.758498,98.66,-7.098498,train,hybrid_model,,global
28,100.28,103.965344,100.28,-3.685344,train,hybrid_model,,global
29,30.00,36.331137,30.00,-6.331137,train,hybrid_model,,global
30,36.44,48.423385,36.44,-11.983385,train,hybrid_model,,global
31,123.86,113.216593,123.86,10.643407,train,hybrid_model,,global
32,118.99,124.566679,118.99,-5.576679,train,hybrid_model,,global
33,87.88,104.463678,87.88,-16.583678,train,hybrid_model,,global
34,90.00,113.793229,90.00,-23.793229,train,hybrid_model,,global
35,190.24,157.383313,190.24,32.856687,train,hybrid_model,,global
36,162.09,142.767569,162.09,19.322431,train,hybrid_model,,global
37,84.99,87.433140,84.99,-2.443140,train,hybrid_model,,global
38,70.18,82.696369,70.18,-12.516369,train,hybrid_model,,global
39,131.09,120.804605,131.09,10.285395,train,hybrid_model,,global
40,103.01,104.592298,103.01,-1.582298,train,hybrid_model,,global
41,58.37,67.438580,58.37,-9.068580,train,hybrid_model,,global
42,107.65,88.773011,107.65,18.876989,test,hybrid_model,,global
43,118.37,112.436796,118.37,5.933204,test,hybrid_model,,global
44,113.03,94.230742,113.03,18.799258,test,hybrid_model,,global
45,122.65,116.436387,122.65,6.213613,test,hybrid_model,,global
46,129.09,96.743667,129.09,32.346333,test,hybrid_model,,global
47,145.57,80.763129,145.57,64.806871,test,hybrid_model,,global
48,158.23,84.117866,158.23,74.112134,test,hybrid_model,,global
49,104.04,92.155607,104.04,11.884393,test,hybrid_model,,global
50,173.23,95.442722,173.23,77.787278,test,hybrid_model,,global
51,126.20,97.461814,126.20,28.738186,test,hybrid_model,,global
52,105.07,94.532672,105.07,10.537328,test,hybrid_model,,global
53,127.01,106.306048,127.01,20.703952,test,hybrid_model,,global
54,101.18,98.596741,101.18,2.583259,test,hybrid_model,,global
55,123.50,60.927145,123.50,62.572855,test,hybrid_model,,global
56,120.14,62.494297,120.14,57.645703,test,hybrid_model,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,strategy,residual,NaN,NaN,NaN,NaN,NaN,NaN,hybrid_model,,global
1,model1_type,linear_reg,NaN,NaN,NaN,NaN,NaN,NaN,hybrid_model,,global
2,model2_type,rand_forest,NaN,NaN,NaN,NaN,NaN,NaN,hybrid_model,,global

,metric,value,split,model,model_group_name,group
0,rmse,12.477728,train,hybrid_model,,global
1,mae,9.824556,train,hybrid_model,,global
2,mape,11.77622,train,hybrid_model,,global
3,r_squared,0.874748,train,hybrid_model,,global
4,rmse,41.892818,test,hybrid_model,,global
5,mae,32.902757,test,hybrid_model,,global
6,mape,24.486087,test,hybrid_model,,global
7,r_squared,-3.539386,test,hybrid_model,,global
8,formula,target ~ totaltar +mean_med_diesel_crack_input...,,hybrid_model,,global
9,model_type,hybrid_model,,hybrid_model,,global
10,strategy,residual,,hybrid_model,,global
11,n_obs_train,42,train,hybrid_model,,global
12,train_start_date,2020-04-01T00:00:00.000000000,train,hybrid_model,,global
13,train_end_date,2023-09-01T00:00:00.000000000,train,hybrid_model,,global

## Manual Regression

Specify coefficients manually for comparison with external forecasts or domain knowledge

In [134]:
from py_parsnip import manual_reg

# Create specification with manually specified coefficients
# Useful for comparing with external models or incorporating domain knowledge
spec_manual_reg = manual_reg(
    coefficients={"totaltar": 0.8, "mean_med_diesel_crack_input1_trade_month_lag2": 0.1, "mean_nwe_hsfo_crack_trade_month_lag1": 2},  # Example coefficients
    intercept=0.0
)

# Fit model (validates coefficients and calculates fitted values)
fit_manual_reg = spec_manual_reg.fit(train_data, FORMULA_STR)

# Evaluate on test set
fit_manual_reg = fit_manual_reg.evaluate(test_data)

print("Manual regression model fitted successfully!")

# Extract outputs from manual model
outputs_manual_reg, coefs_manual_reg, stats_manual_reg = fit_manual_reg.extract_outputs()
display(outputs_manual_reg)
display(coefs_manual_reg)
display(stats_manual_reg)

Manual regression model fitted successfully!

,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,137.65,-28.478,137.65,166.128,train,manual_reg,,global
1,113.53,-22.576,113.53,136.106,train,manual_reg,,global
2,43.31,-20.181,43.31,63.491,train,manual_reg,,global
3,79.77,-16.606,79.77,96.376,train,manual_reg,,global
4,48.27,-15.600,48.27,63.870,train,manual_reg,,global
5,98.01,-15.416,98.01,113.426,train,manual_reg,,global
6,49.77,-14.599,49.77,64.369,train,manual_reg,,global
7,35.48,-15.154,35.48,50.634,train,manual_reg,,global
8,63.98,-10.935,63.98,74.915,train,manual_reg,,global
9,109.76,-16.178,109.76,125.938,train,manual_reg,,global
10,102.98,-7.424,102.98,110.404,train,manual_reg,,global
11,123.83,-19.288,123.83,143.118,train,manual_reg,,global
12,95.58,-10.484,95.58,106.064,train,manual_reg,,global
13,127.21,-24.124,127.21,151.334,train,manual_reg,,global
14,120.18,-26.083,120.18,146.263,train,manual_reg,,global
15,88.43,-29.401,88.43,117.831,train,manual_reg,,global
16,97.76,-30.456,97.76,128.216,train,manual_reg,,global
17,126.47,-28.655,126.47,155.125,train,manual_reg,,global
18,116.13,-4.624,116.13,120.754,train,manual_reg,,global
19,127.87,-25.896,127.87,153.766,train,manual_reg,,global
20,172.65,21.815,172.65,150.835,train,manual_reg,,global
21,102.65,16.336,102.65,86.314,train,manual_reg,,global
22,80.90,-31.384,80.90,112.284,train,manual_reg,,global
23,80.75,-33.800,80.75,114.550,train,manual_reg,,global
24,118.19,-43.140,118.19,161.330,train,manual_reg,,global
25,117.65,18.791,117.65,98.859,train,manual_reg,,global
26,93.37,-39.995,93.37,133.365,train,manual_reg,,global
27,98.66,-55.786,98.66,154.446,train,manual_reg,,global
28,100.28,-49.545,100.28,149.825,train,manual_reg,,global
29,30.00,170.085,30.00,-140.085,train,manual_reg,,global
30,36.44,158.463,36.44,-122.023,train,manual_reg,,global
31,123.86,-32.088,123.86,155.948,train,manual_reg,,global
32,118.99,-72.060,118.99,191.050,train,manual_reg,,global
33,87.88,-65.341,87.88,153.221,train,manual_reg,,global
34,90.00,-59.612,90.00,149.612,train,manual_reg,,global
35,190.24,-57.941,190.24,248.181,train,manual_reg,,global
36,162.09,-49.753,162.09,211.843,train,manual_reg,,global
37,84.99,-38.491,84.99,123.481,train,manual_reg,,global
38,70.18,-32.396,70.18,102.576,train,manual_reg,,global
39,131.09,-27.201,131.09,158.291,train,manual_reg,,global
40,103.01,-19.683,103.01,122.693,train,manual_reg,,global
41,58.37,-1.710,58.37,60.080,train,manual_reg,,global
42,107.65,-16.698,107.65,124.348,test,manual_reg,,global
43,118.37,-28.690,118.37,147.060,test,manual_reg,,global
44,113.03,-36.454,113.03,149.484,test,manual_reg,,global
45,122.65,-30.087,122.65,152.737,test,manual_reg,,global
46,129.09,16.496,129.09,112.594,test,manual_reg,,global
47,145.57,-7.554,145.57,153.124,test,manual_reg,,global
48,158.23,61.775,158.23,96.455,test,manual_reg,,global
49,104.04,-24.965,104.04,129.005,test,manual_reg,,global
50,173.23,15.289,173.23,157.941,test,manual_reg,,global
51,126.20,29.967,126.20,96.233,test,manual_reg,,global
52,105.07,25.671,105.07,79.399,test,manual_reg,,global
53,127.01,18.739,127.01,108.271,test,manual_reg,,global
54,101.18,17.528,101.18,83.652,test,manual_reg,,global
55,123.50,24.857,123.50,98.643,test,manual_reg,,global
56,120.14,27.099,120.14,93.041,test,manual_reg,,global

,variable,coefficient,std_error,t_stat,p_value,ci_0.025,ci_0.975,vif,model,model_group_name,group
0,Intercept,0.0,NaN,NaN,NaN,NaN,NaN,NaN,manual_reg,,global
1,totaltar,0.8,NaN,NaN,NaN,NaN,NaN,NaN,manual_reg,,global
2,mean_med_diesel_crack_input1_trade_month_lag2,0.1,NaN,NaN,NaN,NaN,NaN,NaN,manual_reg,,global
3,mean_nwe_hsfo_crack_trade_month_lag1,2.0,NaN,NaN,NaN,NaN,NaN,NaN,manual_reg,,global

,metric,value,split,model,model_group_name,group
0,rmse,134.37408,train,manual_reg,,global
1,mae,128.31,train,manual_reg,,global
2,mape,140.268889,train,manual_reg,,global
3,r_squared,-13.525933,train,manual_reg,,global
4,rmse,121.778772,test,manual_reg,,global
5,mae,118.799133,test,manual_reg,,global
6,mape,96.142107,test,manual_reg,,global
7,r_squared,-37.358455,test,manual_reg,,global
8,formula,target ~ totaltar +mean_med_diesel_crack_input...,,manual_reg,,global
9,model_type,manual_reg,,manual_reg,,global
10,mode,manual,,manual_reg,,global
11,n_obs_train,42,train,manual_reg,,global
12,train_start_date,2020-04-01T00:00:00.000000000,train,manual_reg,,global
13,train_end_date,2023-09-01T00:00:00.000000000,train,manual_reg,,global

In [135]:
spec_boost_xgb = boost_tree().set_engine('catboost')

fit_boost = spec_boost_xgb.fit(train_data,FORMULA_STR,original_training_data=train_data)
fit_boost = fit_boost.evaluate(test_data,original_test_data=test_data)

'fit_boost = spec_boost_xgb.fit(train_data,FORMULA_STR)'
'fit_boost = fit_boost.evaluate(test_data)'

outputs_boost, coefs_boost, stats_boost = fit_boost.extract_outputs()

display(outputs_boost)
display(coefs_boost)
display(stats_boost)

,date,actuals,fitted,forecast,residuals,split,model,model_group_name,group
0,2020-04-01,137.65,133.853924,137.65,3.796076,train,boost_tree,,global
1,2020-05-01,113.53,114.106366,113.53,-0.576366,train,boost_tree,,global
2,2020-06-01,43.31,47.679499,43.31,-4.369499,train,boost_tree,,global
3,2020-07-01,79.77,79.962675,79.77,-0.192675,train,boost_tree,,global
4,2020-08-01,48.27,49.670994,48.27,-1.400994,train,boost_tree,,global
5,2020-09-01,98.01,96.263157,98.01,1.746843,train,boost_tree,,global
6,2020-10-01,49.77,48.618400,49.77,1.151600,train,boost_tree,,global
7,2020-11-01,35.48,39.331033,35.48,-3.851033,train,boost_tree,,global
8,2020-12-01,63.98,64.060276,63.98,-0.080276,train,boost_tree,,global
9,2021-01-01,109.76,107.384896,109.76,2.375104,train,boost_tree,,global
10,2021-02-01,102.98,100.256442,102.98,2.723558,train,boost_tree,,global
11,2021-03-01,123.83,124.282600,123.83,-0.452600,train,boost_tree,,global
12,2021-04-01,95.58,94.850221,95.58,0.729779,train,boost_tree,,global
13,2021-05-01,127.21,123.788061,127.21,3.421939,train,boost_tree,,global
14,2021-06-01,120.18,121.160413,120.18,-0.980413,train,boost_tree,,global
15,2021-07-01,88.43,94.425860,88.43,-5.995860,train,boost_tree,,global
16,2021-08-01,97.76,97.643729,97.76,0.116271,train,boost_tree,,global
17,2021-09-01,126.47,122.167783,126.47,4.302217,train,boost_tree,,global
18,2021-10-01,116.13,117.674516,116.13,-1.544516,train,boost_tree,,global
19,2021-11-01,127.87,127.056712,127.87,0.813288,train,boost_tree,,global
20,2021-12-01,172.65,170.559527,172.65,2.090473,train,boost_tree,,global
21,2022-01-01,102.65,102.484012,102.65,0.165988,train,boost_tree,,global
22,2022-02-01,80.90,83.433304,80.90,-2.533304,train,boost_tree,,global
23,2022-03-01,80.75,81.376952,80.75,-0.626952,train,boost_tree,,global
24,2022-04-01,118.19,116.005257,118.19,2.184743,train,boost_tree,,global
25,2022-05-01,117.65,117.072609,117.65,0.577391,train,boost_tree,,global
26,2022-06-01,93.37,94.961418,93.37,-1.591418,train,boost_tree,,global
27,2022-07-01,98.66,99.341733,98.66,-0.681733,train,boost_tree,,global
28,2022-08-01,100.28,101.115375,100.28,-0.835375,train,boost_tree,,global
29,2022-09-01,30.00,31.333184,30.00,-1.333184,train,boost_tree,,global
30,2022-10-01,36.44,36.587434,36.44,-0.147434,train,boost_tree,,global
31,2022-11-01,123.86,122.841456,123.86,1.018544,train,boost_tree,,global
32,2022-12-01,118.99,118.103106,118.99,0.886894,train,boost_tree,,global
33,2023-01-01,87.88,90.866207,87.88,-2.986207,train,boost_tree,,global
34,2023-02-01,90.00,91.685607,90.00,-1.685607,train,boost_tree,,global
35,2023-03-01,190.24,185.332153,190.24,4.907847,train,boost_tree,,global
36,2023-04-01,162.09,160.682399,162.09,1.407601,train,boost_tree,,global
37,2023-05-01,84.99,84.560674,84.99,0.429326,train,boost_tree,,global
38,2023-06-01,70.18,72.319191,70.18,-2.139191,train,boost_tree,,global
39,2023-07-01,131.09,128.112860,131.09,2.977140,train,boost_tree,,global
40,2023-08-01,103.01,103.623898,103.01,-0.613898,train,boost_tree,,global
41,2023-09-01,58.37,62.146387,58.37,-3.776387,train,boost_tree,,global
42,2023-10-01,107.65,96.919410,107.65,10.730590,test,boost_tree,,global
43,2023-11-01,118.37,117.433535,118.37,0.936465,test,boost_tree,,global
44,2023-12-01,113.03,102.246554,113.03,10.783446,test,boost_tree,,global
45,2024-01-01,122.65,111.522272,122.65,11.127728,test,boost_tree,,global
46,2024-02-01,129.09,90.217277,129.09,38.872723,test,boost_tree,,global
47,2024-03-01,145.57,89.590013,145.57,55.979987,test,boost_tree,,global
48,2024-04-01,158.23,97.263052,158.23,60.966948,test,boost_tree,,global
49,2024-05-01,104.04,89.229960,104.04,14.810040,test,boost_tree,,global
50,2024-06-01,173.23,112.640811,173.23,60.589189,test,boost_tree,,global
51,2024-07-01,126.20,112.148445,126.20,14.051555,test,boost_tree,,global
52,2024-08-01,105.07,114.063694,105.07,-8.993694,test,boost_tree,,global
53,2024-09-01,127.01,113.431382,127.01,13.578618,test,boost_tree,,global
54,2024-10-01,101.18,118.110280,101.18,-16.930280,test,boost_tree,,global
55,2024-11-01,123.50,76.506213,123.50,46.993787,test,boost_tree,,global
56,2024-12-01,120.14,74.198490,120.14,45.941510,test,boost_tree,,global

,variable,importance,model,model_group_name,group
0,mean_nwe_hsfo_crack_trade_month_lag1,50.227384,boost_tree,,global
1,mean_med_diesel_crack_input1_trade_month_lag2,41.694037,boost_tree,,global
2,totaltar,8.078579,boost_tree,,global
3,Intercept,0.000000,boost_tree,,global

,metric,value,split,model,model_group_name,group
0,rmse,2.333801,train,boost_tree,,global
1,mae,1.814703,train,boost_tree,,global
2,mape,2.194239,train,boost_tree,,global
3,smape,2.159085,train,boost_tree,,global
4,r_squared,0.995618,train,boost_tree,,global
5,mda,97.560976,train,boost_tree,,global
6,rmse,34.32853,test,boost_tree,,global
7,mae,27.419104,test,boost_tree,,global
8,mape,20.606137,test,boost_tree,,global
9,smape,24.020992,test,boost_tree,,global
10,r_squared,-2.048094,test,boost_tree,,global
11,mda,57.142857,test,boost_tree,,global
12,formula,target ~ totaltar +mean_med_diesel_crack_input...,,boost_tree,,global
13,model_type,boost_tree,,boost_tree,,global
14,model_class,CatBoostRegressor,,boost_tree,,global
15,n_obs_train,42,train,boost_tree,,global
16,n_trees,1000,,boost_tree,,global
17,train_start_date,2020-04-01T00:00:00.000000000,train,boost_tree,,global
18,train_end_date,2023-09-01T00:00:00.000000000,train,boost_tree,,global

Recipes

In [136]:
'Create a simple recipe'

rec = (
    recipe()
    .step_normalize()  # Normalize numeric columns
)

# Fit on training data
rec_fit = rec.prep(train_data)

# Apply to training data
train_processed = rec_fit.bake(train_data)
print("\nProcessed training data:")

# Apply to test data (using training parameters!)
test_processed = rec_fit.bake(test_data)
print("\nProcessed test data:")
display(train_processed)
display(test_processed)

Processed training data:

Processed test data:

,date,mean_med_diesel_crack_input1_trade_month_lag2,mean_nwe_hsfo_crack_trade_month_lag1,mean_nwe_lsfo_crack_trade_month,mean_nwe_ulsfo_crack_trade_month lag3,mean_sing_gasoline_vs_vlsfo_trade_month,mean_sing_vlsfo_crack_trade_month_lag3,new_sweet_sr_margin,target,totaltar
0,2020-04-01,-0.088770,-0.094595,0.046119,1.487556,-2.378036,2.031849,0.358746,1.096099,-0.237232
1,2020-05-01,0.172544,0.089438,1.195442,0.793182,-0.956278,1.074411,0.389075,0.411977,-0.237232
2,2020-06-01,0.402280,0.137482,-0.014980,-0.283450,-0.090439,-0.246999,2.220933,-1.579693,-0.237232
3,2020-07-01,0.427807,0.277542,0.105567,-0.597906,0.118757,-0.654823,-0.253895,-0.545568,-0.237232
4,2020-08-01,0.239857,0.358972,0.118778,-1.317998,-0.297698,-0.986637,-0.602676,-1.439011,-0.237232
5,2020-09-01,0.183889,0.378516,0.209601,-0.954445,0.107135,-1.002717,-0.420703,-0.028221,-0.237232
6,2020-10-01,0.141723,0.420859,0.579498,-0.907686,-0.096250,-1.053877,-0.796780,-1.396466,-0.237232
7,2020-11-01,0.161577,0.393987,0.850315,-0.934573,-0.694783,-0.879931,-0.551117,-1.801778,-0.237232
8,2020-12-01,0.187859,0.560105,0.708301,-1.072512,-0.743208,-0.992484,0.216201,-0.993424,-0.237232
9,2021-01-01,0.194855,0.345129,0.657110,-0.839885,-0.747082,-0.700137,0.201036,0.305047,-0.237232
10,2021-02-01,1.891694,0.336172,0.982421,-0.708959,-1.084120,-0.508650,0.049393,0.112744,-0.237232
11,2021-03-01,-0.030154,0.266956,0.860223,-0.602582,-0.559193,-0.505726,0.185872,0.704119,-0.237232
12,2021-04-01,2.080778,0.170868,0.574544,-0.317351,0.000600,-0.274772,0.137346,-0.097144,-0.237232
13,2021-05-01,-0.271425,0.122010,0.848664,-0.144341,0.167181,0.105280,-0.184139,0.799986,-0.237232
14,2021-06-01,-0.229638,0.033251,-0.016631,-0.163045,0.167181,-0.093516,-0.214468,0.600593,-0.237232
15,2021-07-01,-0.289767,-0.088895,0.146850,-0.354758,0.442235,-0.380017,-0.384309,-0.299942,-0.237232
16,2021-08-01,-0.364455,-0.115767,0.818940,-0.303323,0.657242,-0.520343,-0.457098,-0.035312,-0.237232
17,2021-09-01,-0.417209,-0.031079,0.515096,-0.225001,0.165244,-0.631435,-0.569314,0.778998,-0.237232
18,2021-10-01,-0.358404,0.006379,0.564636,-0.213311,0.604943,-0.526190,-0.302421,0.485721,0.373148
19,2021-11-01,-0.383363,0.043022,0.878388,-0.347744,0.945855,-0.483800,-0.032495,0.818706,-0.216886
20,2021-12-01,-0.547677,2.051910,0.539866,-0.399179,-0.214407,-0.328856,0.046360,2.088814,-0.237232
21,2022-01-01,-0.581523,1.836120,0.254186,-0.477501,-0.235714,-0.434101,-0.590545,0.103384,-0.237232
22,2022-02-01,-0.418911,-0.141825,0.402806,-0.396841,-0.009085,-0.266001,-0.038561,-0.513517,-0.237232
23,2022-03-01,-0.561858,-0.209412,0.331799,-0.257733,-0.659917,0.266071,-0.187172,-0.517772,-0.237232
24,2022-04-01,-0.743379,-0.550605,-0.277541,0.175959,-0.545634,0.451711,-0.796780,0.544150,-0.237232
25,2022-05-01,-0.979544,2.021781,-0.900091,0.658749,1.662545,0.615426,-0.099218,0.528833,-0.237232
26,2022-06-01,-0.988242,-0.369830,-1.587043,1.311040,-0.022644,1.273207,3.337032,-0.159827,-0.237232
27,2022-07-01,-1.009231,-1.008244,-1.770340,1.943459,-2.021628,1.265899,1.344431,-0.009785,-0.237232
28,2022-08-01,3.048698,-1.627929,-0.660649,1.757591,-0.605681,1.205968,0.416371,0.036163,-0.237232
29,2022-09-01,-0.893700,-1.119804,-0.601201,2.962810,-0.787759,2.983439,-2.698394,-1.957208,5.866569
30,2022-10-01,2.773392,3.067347,-0.901742,3.037625,-2.031313,3.413190,-1.442783,-1.774549,2.283102
31,2022-11-01,2.692653,-1.768804,-1.724103,0.855138,-1.109301,0.441479,0.413338,0.704969,0.373148
32,2022-12-01,-0.637492,-1.900721,-1.981710,0.429628,-0.437162,-0.035047,1.119998,0.566840,-0.138715
33,2023-01-01,-0.701969,-1.463440,3.127494,-0.101089,1.038831,0.195908,-0.175040,-0.315542,-0.237232
34,2023-02-01,-0.514965,-1.270450,-1.519338,-0.613103,0.645620,-0.543731,-0.047660,-0.255411,-0.237232
35,2023-03-01,-0.558266,-1.193091,-1.593648,-0.877292,1.664482,-0.600739,2.117815,2.587724,-0.237232
36,2023-04-01,-0.617260,-0.847012,-1.324482,-0.423728,2.042197,-0.698675,0.686297,1.789298,-0.237232
37,2023-05-01,-0.526121,-0.408102,-0.682116,0.285844,0.874186,0.171058,0.774250,-0.397511,-0.237232
38,2023-06-01,-0.553538,-0.154039,-0.541753,-0.195777,0.814139,-0.647515,-1.348764,-0.817572,-0.237232
39,2023-07-01,-0.459942,0.037322,-0.236258,-0.353589,0.990406,-0.682596,-1.269909,0.910036,-0.237232
40,2023-08-01,-0.422503,0.335357,0.901506,-0.805985,1.614120,-0.605124,-0.538986,0.113595,-0.237232
41,2023-09-01,-0.450299,1.073117,0.115475,-0.507894,1.604435,-0.210455,-0.011265,-1.152542,-0.237232

,date,mean_med_diesel_crack_input1_trade_month_lag2,mean_nwe_hsfo_crack_trade_month_lag1,mean_nwe_lsfo_crack_trade_month,mean_nwe_ulsfo_crack_trade_month lag3,mean_sing_gasoline_vs_vlsfo_trade_month,mean_sing_vlsfo_crack_trade_month_lag3,new_sweet_sr_margin,target,totaltar
0,2023-10-01,-0.603078,0.495775,-0.521937,-0.600244,-0.260895,-0.252846,1.486976,0.245201,-0.237232
1,2023-11-01,-0.680981,0.024293,-0.589642,-0.463473,-0.853617,-0.238228,0.813678,0.549255,-0.237232
2,2023-12-01,-0.685519,-0.290842,-0.553312,-0.851575,1.366184,-0.413637,-1.078838,0.397795,-0.237232
3,2024-01-01,-0.589653,-0.052251,-0.350199,-0.721818,0.426739,-0.227996,0.234398,0.670650,-0.237232
4,2024-02-01,-0.479418,1.820648,-0.738261,-0.322026,0.878060,0.545263,1.080571,0.853309,-0.237232
5,2024-03-01,-0.467694,-0.179283,-0.578082,-0.099920,0.568140,0.080430,0.725724,1.320736,0.432258
6,2024-04-01,-0.509860,1.814133,-0.802663,-0.315013,1.211224,-0.156371,0.774250,1.679816,0.983528
7,2024-05-01,-0.574149,-0.285142,-0.829084,0.344293,0.637872,0.179828,0.574080,0.142809,0.050824
8,2024-06-01,-0.677388,-0.042480,-0.814222,0.216874,0.064521,0.138900,-0.763419,2.105265,0.983528
9,2024-07-01,-0.604402,0.142367,-0.612760,0.034513,-0.028455,-0.327394,-0.017331,0.771340,1.244599
10,2024-08-01,-0.540870,0.152139,-0.559918,-0.230846,-0.053636,-0.245537,-0.068890,0.172023,1.114171
11,2024-09-01,-0.603646,0.082109,-0.105803,-0.643496,-1.213899,-0.551040,-0.802846,0.794314,0.983528
12,2024-10-01,-0.507402,0.012079,-0.013329,-0.490360,-1.126734,-0.347859,-1.148594,0.061690,0.983528
13,2024-11-01,-0.409646,0.468903,0.648853,-0.317351,-1.016325,-0.235305,-0.727024,0.694759,0.865521
14,2024-12-01,-0.427420,0.569877,0.442438,-0.388658,0.134252,0.306999,-0.168975,0.599458,0.861666

## 2.1 - Workflows

In [137]:
# Create a workflow with formula and linear regression
wf_ols_sk = (
    workflow()
    .add_formula(FORMULA_STR)
    .add_model(linear_reg().set_engine("sklearn"))
)

print("Workflow components:")
print(f"  Preprocessor: {wf_ols_sk.preprocessor}")
print(f"  Model: {wf_ols_sk.spec.mode} with {wf_ols_sk.spec.engine} engine")

# Fit the workflow
wf_ols_sk_fit = wf_ols_sk.fit(train_data)

print("Workflow fitted successfully!")
print(f"Type: {type(wf_ols_sk_fit)}")

# Predict on test data
predictions =  wf_ols_sk_fit.predict(test_data)

print(f"Predictions shape: {predictions.shape}")
predictions.head()

# Evaluate on test data
wf_ols_sk_fit = wf_ols_sk_fit.evaluate(test_data)

print("Evaluation complete!")
print(f"Evaluation data keys: {list(wf_ols_sk_fit.fit.evaluation_data.keys())}")

# Extract all outputs
outputs, coefficients, stats = wf_ols_sk_fit.extract_outputs()

print("\n=== OUTPUTS (first 10 rows) ===")
print(outputs.head(10))

print("\n=== COEFFICIENTS ===")
print(coefficients)

print("\n=== STATS ===")
print(stats)

Workflow components:
  Preprocessor: target ~ totaltar +mean_med_diesel_crack_input1_trade_month_lag2 + mean_nwe_hsfo_crack_trade_month_lag1
  Model: regression with sklearn engine
Workflow fitted successfully!
Type: <class 'py_workflows.workflow.WorkflowFit'>
Predictions shape: (15, 1)
Evaluation complete!
Evaluation data keys: ['test_data', 'test_predictions', 'outcome_col', 'original_test_data']

=== OUTPUTS (first 10 rows) ===
        date  actuals      fitted  forecast  residuals  split       model  \
0 2020-04-01   137.65  103.031150    137.65  34.618850  train  linear_reg
1 2020-05-01   113.53  100.680966    113.53  12.849034  train  linear_reg
2 2020-06-01    43.31   99.272716     43.31 -55.962716  train  linear_reg
3 2020-07-01    79.77   98.337003     79.77 -18.567003  train  linear_reg
4 2020-08-01    48.27   98.790761     48.27 -50.520761  train  linear_reg
5 2020-09-01    98.01   98.953101     98.01  -0.943101  train  linear_reg
6 2020-10-01    49.77   98.915648     49.77 -49.145648  train  linear_reg
7 2020-11-01    35.48   98.973392     35.48 -63.493392  train  linear_reg
8 2020-12-01    63.98   97.883238     63.98 -33.903238  train  linear_reg
9 2021-01-01   109.76   99.092251    109.76  10.667749  train  linear_reg

  model_group_name   group
0                   global
1                   global
2                   global
3                   global
4                   global
5                   global
6                   global
7                   global
8                   global
9                   global

=== COEFFICIENTS ===
                                        variable  coefficient  std_error  \
0                                      Intercept    92.420998   8.352429
1                                       totaltar    -0.274647   0.110660
2  mean_med_diesel_crack_input1_trade_month_lag2    -0.093034   0.097941
3           mean_nwe_hsfo_crack_trade_month_lag1    -0.470998   0.420807

      t_stat       p_value   ci_0.025    ci_0.975       vif       model  \
0  11.065165  1.905143e-13  75.512390  109.329606       NaN  linear_reg
1  -2.481899  1.760500e-02  -0.498666   -0.050627  1.004942  linear_reg
2  -0.949898  3.481667e-01  -0.291305    0.105237  1.009927  linear_reg
3  -1.119275  2.700480e-01  -1.322877    0.380880  1.005225  linear_reg

  model_group_name   group
0                   global
1                   global
2                   global
3                   global

=== STATS ===
                metric                                              value  \
0                 rmse                                          31.772848
1                  mae                                          25.035409
2                 mape                                          31.042183
3                smape                                          26.008852
4            r_squared                                            0.18787
5                  mda                                          58.536585
6        adj_r_squared                                           0.123755
7                 rmse                                          39.604179
8                  mae                                          31.330025
9                 mape                                          23.043006
10               smape                                          27.638952
11           r_squared                                          -3.056953
12                 mda                                          42.857143
13       durbin_watson                                           1.331939
14   shapiro_wilk_stat                                           0.975185
15      shapiro_wilk_p                                           0.484537
16      ljung_box_stat                                           9.181882
17         ljung_box_p                                           0.327186
18  breusch_pagan_stat                                           1.905207
19     breusch_pagan_p                                           0.592313
20             formula  target ~ totaltar +mean_med_diesel_crack_input...
21          model_type                                         linear_reg
22         model_class                                   LinearRegression
23         n_obs_train                                                 42
24    train_start_date                      2020-04-01T00:00:00.000000000
25      train_end_date                      2023-09-01T00:00:00.000000000

    split       model model_group_name   group
0   train  linear_reg                   global
1   train  linear_reg                   global
2   train  linear_reg                   global
3   train  linear_reg                   global
4   train  linear_reg                   global
5   train  linear_reg                   global
6   train  linear_reg                   global
7    test  linear_reg                   global
8    test  linear_reg                   global
9    test  linear_reg                   global
10   test  linear_reg                   global
11   test  linear_reg                   global
12   test  linear_reg                   global
13  train  linear_reg                   global
14  train  linear_reg                   global
15  train  linear_reg                   global
16  train  linear_reg                   global
17  train  linear_reg                   global
18  train  linear_reg                   global
19  train  linear_reg                   global
20         linear_reg                   global
21         linear_reg                   global
22         linear_reg                   global
23  train  linear_reg                   global
24  train  linear_reg                   global
25  train  linear_reg                   global

In [138]:
# method chaining
# Full pipeline in one chain
outputs2, coefficients2, stats2 = (
    workflow()
    .add_formula(FORMULA_STR)
    .add_model(linear_reg().set_engine("sklearn"))
    .fit(train_data)
    .evaluate(test_data)
    .extract_outputs()
)

print("Method chaining complete!")
print(f"\nTest R: {stats2[(stats2['metric'] == 'r_squared') & (stats2['split'] == 'test')]['value'].values[0]:.4f}")

Method chaining complete!

Test R: -3.0570

In [139]:
# Extract components
model_fit = wf_ols_sk_fit.extract_fit_parsnip()
preprocessor = wf_ols_sk_fit.extract_preprocessor()
model_spec = wf_ols_sk_fit.extract_spec_parsnip()

print("Extracted components:")
print(f"  Model fit type: {type(model_fit)}")
print(f"  Preprocessor: {preprocessor}")
print(f"  Model spec: {model_spec.mode} with {model_spec.engine} engine")

# Access underlying sklearn model
sklearn_model = model_fit.fit_data["model"]
print(f"\n  Underlying model type: {type(sklearn_model)}")
print(f"  Number of coefficients: {len(sklearn_model.coef_)}")

Extracted components:
  Model fit type: <class 'py_parsnip.model_spec.ModelFit'>
  Preprocessor: target ~ totaltar +mean_med_diesel_crack_input1_trade_month_lag2 + mean_nwe_hsfo_crack_trade_month_lag1
  Model spec: regression with sklearn engine

  Underlying model type: <class 'sklearn.linear_model._base.LinearRegression'>
  Number of coefficients: 3

In [140]:
# Define different formulas (preprocessing strategies)
formulas = [
    "target ~ mean_med_diesel_crack_input1_trade_month_lag2 + mean_nwe_hsfo_crack_trade_month_lag1",                                                        # Minimal model
    "target ~ mean_med_diesel_crack_input1_trade_month_lag2 + mean_nwe_hsfo_crack_trade_month_lag1 + mean_nwe_lsfo_crack_trade_month",                      # Add more features
    "target ~ mean_med_diesel_crack_input1_trade_month_lag2 + mean_nwe_hsfo_crack_trade_month_lag1 + mean_nwe_lsfo_crack_trade_month + totaltar",           # All features
    "target ~ mean_med_diesel_crack_input1_trade_month_lag2 + mean_nwe_hsfo_crack_trade_month_lag1 + mean_nwe_lsfo_crack_trade_month + I(mean_med_diesel_crack_input1_trade_month_lag2*mean_nwe_hsfo_crack_trade_month_lag1)",           # With interaction
    "target ~ mean_med_diesel_crack_input1_trade_month_lag2 + mean_nwe_hsfo_crack_trade_month_lag1 + mean_nwe_lsfo_crack_trade_month + I(mean_med_diesel_crack_input1_trade_month_lag2**2) + I(mean_nwe_hsfo_crack_trade_month_lag1**2)" # With polynomials
]

# Descriptive IDs for each formula
formula_ids = [
    "minimal",
    "medium",
    "full",
    "interaction",
    "polynomial"
]

print(f"Number of preprocessing strategies: {len(formulas)}")

Number of preprocessing strategies: 5